<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.68">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1700px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 400px;padding: 0px;border:none;width: 430px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 59px 0px 0px 0px;padding: 0px;border:none;width: 414px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 38px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 342px;overflow: hidden;}
#page_1 #id_2 #id_2_3 {float:right;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 800px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 83px 0px 0px 0px;padding: 0px;border:none;width: 442px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 63px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}




#page_2 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_2 #id_1 {border:none;margin: 195px 0px 0px 137px;padding: 0px;border:none;width: 735px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 303px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_2 #dimg1 #img1 {width:872px;height:1112px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft1{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft2{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft3{font: 23px 'Arial';color: #b30838;line-height: 26px;}
.ft4{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft5{font: 16px 'Arial';color: #6bb1cc;line-height: 16px;}
.ft6{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft7{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft8{font: 1px 'Times New Roman';line-height: 1px;}
.ft9{font: 11px 'Arial';color: #6bb1cc;line-height: 14px;}
.ft10{font: bold 11px 'Helvetica';color: #d2232a;line-height: 11px;}
.ft11{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 7px;}
.ft12{font: 1px 'Times New Roman';line-height: 7px;}
.ft13{font: 1px 'Times New Roman';line-height: 9px;}
.ft14{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft15{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft16{font: 11px 'Arial';color: #6bb1cc;line-height: 10px;}
.ft17{font: 16px 'Arial';color: #6bb1cc;line-height: 10px;}
.ft18{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 9px;}
.ft19{font: 1px 'Times New Roman';line-height: 10px;}
.ft20{font: bold 11px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft21{font: bold 8px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft22{font: 8px 'Times New Roman';color: #4d4d4f;line-height: 10px;}
.ft23{font: 1px 'Times New Roman';line-height: 8px;}
.ft24{font: bold 11px 'Helvetica';color: #d2232a;line-height: 8px;}
.ft25{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft26{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft27{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft28{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft29{font: 8px 'Helvetica';line-height: 10px;}
.ft30{font: 16px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft31{font: 17px 'Arial';color: #8e4b9b;margin-left: 16px;line-height: 22px;}
.ft32{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 15px;}
.ft33{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 20px;}
.ft34{font: 16px 'Arial';color: #8e4b9b;margin-left: 16px;line-height: 21px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:155px;height:16px;}
.p2{text-align: left;margin-top: 30px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 12px;margin-bottom: 0px;}
.p4{text-align: left;padding-right: 63px;margin-top: 6px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 21px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 5px;margin-bottom: 0px;}
.p7{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;margin-top: 25px;margin-bottom: 0px;}
.p10{text-align: left;margin-top: 6px;margin-bottom: 0px;}
.p11{text-align: left;margin-top: 26px;margin-bottom: 0px;}
.p12{text-align: left;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: center;padding-left: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: center;padding-left: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: center;padding-right: 30px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: center;padding-right: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: left;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: center;padding-left: 29px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: left;padding-left: 33px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: center;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;margin-top: 19px;margin-bottom: 0px;}
.p23{text-align: left;padding-right: 180px;margin-top: 6px;margin-bottom: 0px;}
.p24{text-align: left;margin-top: 22px;margin-bottom: 0px;}
.p25{text-align: left;padding-right: 334px;margin-top: 6px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 144px;margin-top: 6px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 3px;margin-bottom: 0px;}
.p28{text-align: left;padding-right: 140px;margin-top: 13px;margin-bottom: 0px;}
.p29{text-align: justify;padding-left: 24px;padding-right: 145px;margin-top: 22px;margin-bottom: 0px;text-indent: -24px;}
.p30{text-align: justify;padding-left: 24px;margin-top: 6px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 24px;margin-top: 12px;margin-bottom: 0px;}
.p32{text-align: justify;padding-left: 48px;padding-right: 195px;margin-top: 13px;margin-bottom: 0px;text-indent: -24px;}
.p33{text-align: justify;padding-left: 24px;padding-right: 159px;margin-top: 8px;margin-bottom: 0px;text-indent: -24px;}

.td0{padding: 0px;margin: 0px;width: 196px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 204px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 102px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 197px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 59px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 89px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 113px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 310px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 202px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 148px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 251px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 380px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 219px;vertical-align: bottom;}

.tr0{height: 18px;}
.tr1{height: 42px;}
.tr2{height: 21px;}
.tr3{height: 22px;}
.tr4{height: 19px;}
.tr5{height: 41px;}
.tr6{height: 11px;}
.tr7{height: 7px;}
.tr8{height: 9px;}
.tr9{height: 15px;}
.tr10{height: 25px;}
.tr11{height: 16px;}
.tr12{height: 10px;}
.tr13{height: 8px;}
.tr14{height: 20px;}
.tr15{height: 13px;}
.tr16{height: 24px;}
.tr17{height: 27px;}
.tr18{height: 12px;}

.t0{width: 306px;margin-top: 4px;font: 13px 'Times New Roman';color: #4d4d4f;}
.t1{width: 306px;margin-top: 3px;font: 13px 'Times New Roman';color: #4d4d4f;}
.t2{width: 399px;font: bold 11px 'Helvetica';color: #d2232a;}
.t3{width: 799px;font: 8px 'Helvetica';}
.t4{width: 599px;margin-top: 9px;font: 13px 'Times New Roman';color: #4d4d4f;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">
<br><br><br><br><br>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p0 ft3">Useful Information</P>
<P class="p2 ft4">In & Around HUP</P>
<P class="p3 ft5">ATMs</P>
<P class="p4 ft6">1st floor, Silverstein Building, at the top of the escalator & on the 2nd floor, Founders Building, next to the cafeteria.</P>
<P class="p5 ft5">Au Bon Pain</P>
<P class="p6 ft7">2nd floor, Founders Building, next to the cafeteria.</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p7 ft7"><NOBR>Mon-Fri..........................6:30am – 6:00pm</NOBR></P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p7 ft5">Cafeteria/Spruce St. Cafe (HUP)</P></TD>
	<TD class="tr1 td1"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7">2nd floor, Founders Building</P></TD>
	<TD class="tr2 td1"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7">Open daily...................6:00am – midnight</P></TD>
	<TD class="tr2 td1"><P class="p8 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p7 ft5">CVS <SPAN class="ft9">• </SPAN>215.662.1333</P></TD>
	<TD class="tr1 td1"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7">3401 Walnut Street</P></TD>
	<TD class="tr2 td1"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7"><NOBR>Mon-Fri.........................7:00am – 11:00pm</NOBR></P></TD>
	<TD class="tr2 td1"><P class="p8 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p7 ft7">Sat...................................8:00am – 11:00pm</P></TD>
	<TD class="tr3 td1"><P class="p8 ft7"></P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7">Sun.................................8:00am – 10:00pm</P></TD>
	<TD class="tr2 td1"><P class="p8 ft7"></P></TD>
</TR>
</TABLE>
<P class="p9 ft5">Gia Pronto Café <SPAN class="ft9">• </SPAN>215.386.1350</P>
<P class="p10 ft7">Inside the Perelman Center, West Atrium, Ground Floor (sandwiches/salads/soups)</P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr4 td2"><P class="p7 ft7"></P></TD>
	<TD class="tr4 td3"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td2"><P class="p7 ft7"><NOBR>Mon-Thurs....................6:30am – 7:00pm</NOBR></P></TD>
	<TD class="tr2 td3"><P class="p7 ft7"></P></TD>
</TR>
<TR>
	<TD class="tr3 td2"><P class="p7 ft7">Fri...................................6:30am – 5:00pm</P></TD>
	<TD class="tr3 td3"><P class="p7 ft7"></P></TD>
</TR>
</TABLE>
<P class="p11 ft5">HUP Gift shop <SPAN class="ft9">• </SPAN>215.662.2701</P>
<P class="p10 ft7">1st floor Ravdin Building, next to the <br>pharmacy<br></P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr4 td2"><P class="p7 ft7"><NOBR>Mon-Fri.........................7:00am – 9:00pm</NOBR></P></TD>
	<TD class="tr4 td3"><P class="p7 ft7"></P></TD>
</TR>
<TR>
	<TD class="tr2 td2"><P class="p7 ft7"><NOBR>Sat-Sun..........................9:00am – 8:00pm</NOBR></P></TD>
	<TD class="tr2 td3"><P class="p7 ft7"></P></TD>
</TR>
</TABLE>
<P class="p11 ft5">HUP Pharmacy <SPAN class="ft9">• </SPAN>215.662.2920</P>
<P class="p6 ft7">1st floor, Ravdin Building, next to the gift <br>shop</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td2"><P class="p7 ft7"><NOBR>Mon-Fri.........................7:00am – 5:30pm</NOBR></P></TD>
	<TD class="tr0 td3"><P class="p7 ft7"></P></TD>
</TR>
<TR>
	<TD class="tr3 td2"><P class="p7 ft7"><NOBR>Sat-Sun..........................9:00am – 2:00pm</NOBR></P></TD>
	<TD class="tr3 td3"><P class="p7 ft7"></P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2_2">
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr4 td4"><P class="p7 ft5">Jazz & Java Coffee</P></TD>
	<TD class="tr4 td5"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr4 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td4"><P class="p7 ft7">2nd floor, Founders Building</P></TD>
	<TD class="tr3 td5"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td4"><P class="p7 ft7"><NOBR>Mon-Fri............................6:00am – 6:00pm</NOBR></P></TD>
	<TD colspan=2 class="tr2 td8"><P class="p12 ft7"></P></TD>
	<TD class="tr2 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr5 td9"><P class="p7 ft5">Jimmy John’s Gourmet Sandwiches <SPAN class="ft9">• </SPAN>215.382.0805</P></TD>
	<TD class="tr5 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td4"><P class="p7 ft8">&nbsp;</P></TD>
	<TD colspan=3 class="tr6 td10"><P class="p13 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr7 td9"><P class="p7 ft11">Connected to the Perelman Center— enter from</P></TD>
	<TD class="tr7 td7"><P class="p7 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td4"><P class="p7 ft13">&nbsp;</P></TD>
	<TD colspan=3 class="tr8 td10"><P class="p14 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td4"><P class="p7 ft7">street (delivery to hospital unit)</P></TD>
	<TD colspan=3 class="tr9 td10"><P class="p13 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr10 td4"><P class="p7 ft7"><NOBR>Mon-Sun..........................9:00am – 9:00pm</NOBR></P></TD>
	<TD colspan=3 class="tr8 td10"><P class="p13 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr11 td8"><P class="p12 ft7"></P></TD>
	<TD class="tr11 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td4"><P class="p7 ft8">&nbsp;</P></TD>
	<TD colspan=2 class="tr11 td8"><P class="p15 ft15">&nbsp;</P></TD>
	<TD class="tr11 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td4"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr6 td5"><P class="p15 ft10">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p17 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr12 td9"><P class="p7 ft17">Patient & Family Education Center <SPAN class="ft16">• </SPAN>215.662.4899</P></TD>
	<TD rowspan=2 class="tr4 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td4"><P class="p7 ft13">&nbsp;</P></TD>
	<TD class="tr8 td5"><P class="p15 ft14">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p7 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr8 td9"><P class="p7 ft18">1st floor, Silverstein Building, at top of the escalator</P></TD>
	<TD rowspan=2 class="tr4 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td4"><P class="p7 ft19">&nbsp;</P></TD>
	<TD colspan=2 class="tr12 td8"><P class="p15 ft20">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td4"><P class="p7 ft7"><NOBR>Mon-Fri............................9:00am – 5:30pm</NOBR></P></TD>
	<TD class="tr11 td5"><P class="p18 ft22"><SPAN class="ft21">&nbsp;</SPAN></P></TD>
	<TD class="tr11 td6"><P class="p12 ft7"></P></TD>
	<TD class="tr11 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td4"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr9 td5"><P class="p15 ft15">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td11"><P class="p19 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 rowspan=2 class="tr10 td12"><P class="p7 ft5">Potbelly’s Sandwich Works <SPAN class="ft9">• </SPAN>215.382.0549</P></TD>
	<TD class="tr9 td6"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr9 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td6"><P class="p7 ft19">&nbsp;</P></TD>
	<TD rowspan=2 class="tr0 td7"><P class="p16 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td4"><P class="p7 ft23">&nbsp;</P></TD>
	<TD class="tr13 td5"><P class="p15 ft24">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p7 ft23">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr11 td9"><P class="p7 ft7">Next to Penn Tower Main Entrance,<SPAN class="ft15">&nbsp;</SPAN>Ground Floor</P></TD>
	<TD class="tr11 td7"><P class="p16 ft25">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr14 td4"><P class="p7 ft7"><NOBR>Mon-Fri............................6:30am – 9:00pm</NOBR></P></TD>
	<TD colspan=2 class="tr6 td8"><P class="p20 ft10">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr8 td8"><P class="p12 ft18"></P></TD>
	<TD class="tr8 td7"><P class="p7 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr0 td4"><P class="p7 ft7"><NOBR>Sat-Sun.............................7:00am – 7:00pm</NOBR></P></TD>
	<TD colspan=3 class="tr8 td10"><P class="p21 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr8 td8"><P class="p12 ft18"></P></TD>
	<TD class="tr8 td7"><P class="p7 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td4"><P class="p7 ft13">&nbsp;</P></TD>
	<TD colspan=3 class="tr8 td10"><P class="p20 ft14">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td4"><P class="p7 ft8">&nbsp;</P></TD>
	<TD colspan=3 class="tr15 td10"><P class="p20 ft26">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p7 ft5">Starbucks <SPAN class="ft9">• </SPAN>215.387.1914</P></TD>
	<TD colspan=3 class="tr16 td10"><P class="p13 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td4"><P class="p7 ft7">3401 Walnut Street</P></TD>
	<TD colspan=3 class="tr3 td10"><P class="p15 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr17 td4"><P class="p7 ft7"><NOBR>Mon-Sun..........................5:30am – 12:00am</NOBR></P></TD>
	<TD class="tr18 td5"><P class="p15 ft27">&nbsp;</P></TD>
	<TD class="tr18 td6"><P class="p7 ft8">&nbsp;</P></TD>
	<TD class="tr18 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr9 td8"><P class="p12 ft7"></P></TD>
	<TD class="tr9 td7"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p22 ft5">Vending Machines</P>
<P class="p23 ft28">5th floor of the Rhoads Building, across from the elevators</P>
<P class="p24 ft5">WaWa <SPAN class="ft9">• </SPAN>215.387.0029</P>
<P class="p23 ft28">3744 Spruce Street Open 24 hours</P>
<P class="p24 ft5">The Faith & Hope Boutique <SPAN class="ft9">• </SPAN>215.615.3321</P>
<P class="p26 ft28">1st Floor West of the Perelman Center, a full service boutique offering a wide variety of personal</P>
<P class="p27 ft7">items, services, & specialty apparel for those</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p7 ft7">affected by cancer.</P></TD>
	<TD class="tr0 td1"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"><P class="p7 ft7"><NOBR>Mon-Fri............................10:00am – 4:00pm</NOBR></P></TD>
	<TD class="tr2 td1"><P class="p7 ft7"></P></TD>
</TR>
</TABLE>
</DIV>
</DIV>

<br>
<P class="p0 ft4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phone Numbers</P>
<TABLE cellpadding=0 cellspacing=0 class="t4">
<TR>
	<TD class="tr4 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Operator</P></TD>
	<TD class="tr4 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.4000</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient & Guest Services</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.7378</P></TD>
</TR>
<TR>
	<TD class="tr3 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Business Office - Financial Counseling</P></TD>
	<TD class="tr3 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.2672</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Environmental (Room Cleanliness)</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.776.5871</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Food Services</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.2151</P></TD>
</TR>
<TR>
	<TD class="tr3 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pastoral Care</P></TD>
	<TD class="tr3 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.2591</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Patient Accounts - Billing Customer Service</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.877.433.5299</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Security</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.2677</P></TD>
</TR>
<TR>
	<TD class="tr3 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Television</P></TD>
	<TD class="tr3 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.3900</P></TD>
</TR>
<TR>
	<TD class="tr2 td15"><P class="p7 ft7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wifi Service/Computer Help Desk</P></TD>
	<TD class="tr2 td16"><P class="p8 ft5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;215.662.7474</P></TD>
</TR>
</TABLE>
<P class="p2 ft4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee Recognition</P>
<P class="p28 ft6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Did you receive exceptional care from a Penn employee and would like to recognize them &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for positively impacting your hospitalization? Nominate them for one of our employee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;recognition awards! Forms are available at the nurses’ station.</P>
<P class="p29 ft6"><SPAN class="ft30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷</SPAN><SPAN class="ft31">Helping People All the Time </SPAN>is a service excellence recognition program that highlights &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;employees who have shown outstanding service in the areas of patient centered care &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;while upholding the core values integral to a good patient experience at HUP.</P>
<P class="p30 ft7"><SPAN class="ft30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷</SPAN><SPAN class="ft32">Ensures that the employee is made aware of his/her exceptional service.</SPAN></P>
<P class="p31 ft7"><SPAN class="ft30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷</SPAN><SPAN class="ft32">Recognizes the employee for his/her service excellence.</SPAN></P>
<P class="p31 ft7"><SPAN class="ft30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷</SPAN><SPAN class="ft33">Ensures that the supervisor of the employee receiving recognition is made aware of the employee’s efforts.</SPAN></P>
<P class="p33 ft28"><SPAN class="ft30">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷</SPAN><SPAN class="ft34">Daisy Award </SPAN>is a nationwide program that rewards and celebrates nurses for their </P>
<P class="p33 ft28">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extraordinary clinical skills and compassionate care.</P>


</DIV>
</BODY>
</HTML>
