<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 742px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 100px 0px 0px 0px;padding: 0px;border:none;width: 726px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 53px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft1{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft2{font: 23px 'Arial';color: #812c8f;line-height: 26px;}
.ft3{font: 15px 'Arial';color: #6bb1cc;line-height: 17px;}
.ft4{font: 15px 'Arial';color: #4d4d4f;line-height: 17px;}
.ft5{font: 1px 'Helvetica';line-height: 1px;}
.ft6{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft7{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft8{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft9{font: 1px 'Helvetica';line-height: 8px;}
.ft10{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft11{font: 1px 'Helvetica';line-height: 7px;}
.ft12{font: 1px 'Helvetica';line-height: 16px;}
.ft13{font: 1px 'Helvetica';line-height: 5px;}
.ft14{font: 16px 'Arial';color: #8e4b9b;line-height: 16px;}
.ft15{font: 1px 'Helvetica';line-height: 9px;}
.ft16{font: 80px 'Arial';color: #c8dde9;line-height: 89px;}
.ft17{font: 1px 'Helvetica';line-height: 15px;}
.ft18{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft19{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p2{text-align: left;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;padding-left: 70px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: center;padding-left: 3px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: center;padding-right: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: center;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 37px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;padding-right: 27px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:497px;height:16px;}

.td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 249px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 93px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 142px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 92px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 41px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 56px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 189px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 97px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 133px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 368px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 327px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 21px;}
.tr1{height: 24px;}
.tr2{height: 36px;}
.tr3{height: 12px;}
.tr4{height: 13px;}
.tr5{height: 27px;}
.tr6{height: 14px;}
.tr7{height: 29px;}
.tr8{height: 8px;}
.tr9{height: 16px;}
.tr10{height: 15px;}
.tr11{height: 7px;}
.tr12{height: 17px;}
.tr13{height: 5px;}
.tr14{height: 22px;}
.tr15{height: 33px;}
.tr16{height: 9px;}
.tr17{height: 97px;}
.tr18{height: 82px;}
.tr19{height: 10px;}

.t0{width: 696px;margin-top: 27px;font: 15px 'Arial';color: #4d4d4f;}
.t1{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">

<DIV id="id_2">
<DIV id="id_2_1">
<br>
<P class="p0 ft2">HUP Television Information</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"></TD>
	<TD class="tr0 td1"><P class="p1 ft3">1</P></TD>
	<TD class="tr0 td2"><P class="p2 ft4"><NOBR>On-Demand</NOBR></P></TD>
	<TD class="tr0 td3"><P class="p3 ft3">52</P></TD>
	<TD class="tr0 td4"><P class="p2 ft4">Game Show</P></TD>
	<TD class="tr0 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr0 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr0 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">13</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Relaxation</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">53</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">AMC</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">15</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">TIGR</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">54</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">ABC Familiy</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">25</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Channels</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">55</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Comedy Central</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">26</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Cardiac Channel</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">56</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Food Network</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">27</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">TIGR</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">57</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Fox News</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">28</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Newborn (where available)</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">58</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">FX</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">29</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">HUPtv Outpatient</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">59</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">ESPN</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">30</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">HUPtv Inpatient</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">60</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">ESPN 2</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">31</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Headline News</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">61</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Comcast SportsNet</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">32</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Weather</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">62</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">ION</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">33</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">MSNBC</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">63</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Versus</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">34</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Comcast Network</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">64</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Travel</P></TD>
	<TD colspan=3 rowspan=2 class="tr2 td8"><P class="p4 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">35</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">CBS <NOBR>(KYW-TV)</NOBR></P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">65</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">Discovery</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"></TD>
	<TD colspan=3 class="tr3 td8"><P class="p4 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td0"></TD>
	<TD rowspan=2 class="tr5 td1"><P class="p1 ft3">36</P></TD>
	<TD rowspan=2 class="tr5 td2"><P class="p2 ft4">ABC (WPVI)</P></TD>
	<TD rowspan=2 class="tr5 td3"><P class="p3 ft3">66</P></TD>
	<TD rowspan=2 class="tr5 td4"><P class="p2 ft4">Nickelodeon</P></TD>
	<TD colspan=3 class="tr4 td8"><P class="p4 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td0"></TD>
	<TD colspan=3 class="tr6 td8"><P class="p5 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"></TD>
	<TD class="tr0 td1"><P class="p1 ft3">37</P></TD>
	<TD class="tr0 td2"><P class="p2 ft4">NBC (WCAU)</P></TD>
	<TD class="tr0 td3"><P class="p3 ft3">67</P></TD>
	<TD class="tr0 td4"><P class="p2 ft4">Disney</P></TD>
	<TD rowspan=2 class="tr7 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr7 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">38</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">PBS (WHYY)</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">68</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">Animal Planet</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">39</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">WPHL (17)</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">69</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">Hallmark</P></TD>
	<TD class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD rowspan=2 class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr9 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">40</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">FOX</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">70</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">HGTV</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">41</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">WPSG (57)</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">71</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">Lifetime</P></TD>
	<TD class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td5"><P class="p1 ft9">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr10 td9"><P class="p6 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">42</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">TBS</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">72</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">TCM</P></TD>
	<TD class="tr11 td5"><P class="p1 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td0"></TD>
	<TD class="tr12 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr12 td9"><P class="p6 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">43</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">USA</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">73</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">Golf Channel</P></TD>
	<TD class="tr9 td5"><P class="p1 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td9"><P class="p6 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD rowspan=2 class="tr9 td5"><P class="p7 ft6">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p1 ft9">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p1 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">44</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">TNT</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">74</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">E!</P></TD>
	<TD class="tr8 td6"><P class="p1 ft9">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p1 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD colspan=3 class="tr9 td8"><P class="p8 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">45</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">CNN</P></TD>
	<TD rowspan=2 class="tr1 td3"><P class="p3 ft3">75</P></TD>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">MTV</P></TD>
	<TD colspan=2 class="tr9 td10"><P class="p7 ft6">&nbsp;</P></TD>
	<TD class="tr9 td7"><P class="p1 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD colspan=3 rowspan=2 class="tr4 td8"><P class="p7 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"></TD>
	<TD class="tr13 td1"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr13 td3"><P class="p1 ft13">&nbsp;</P></TD>
	<TD class="tr13 td4"><P class="p1 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td0"></TD>
	<TD class="tr0 td1"><P class="p1 ft3">46</P></TD>
	<TD class="tr0 td2"><P class="p2 ft4">History</P></TD>
	<TD class="tr0 td3"><P class="p3 ft3">76</P></TD>
	<TD class="tr0 td4"><P class="p2 ft4">VH1</P></TD>
	<TD colspan=3 class="tr0 td8"><P class="p4 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td0"></TD>
	<TD class="tr14 td1"><P class="p1 ft3">47</P></TD>
	<TD class="tr14 td2"><P class="p2 ft4">A&E</P></TD>
	<TD class="tr14 td3"><P class="p3 ft3">77</P></TD>
	<TD class="tr14 td4"><P class="p2 ft4">Bravo</P></TD>
	<TD colspan=3 class="tr14 td8"><P class="p1 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">48</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">TLC</P></TD>
	<TD class="tr1 td3"><P class="p3 ft3">78</P></TD>
	<TD class="tr1 td4"><P class="p2 ft4">Spike</P></TD>
	<TD colspan=3 class="tr1 td8"><P class="p1 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">49</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">BET</P></TD>
	<TD class="tr1 td3"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td4"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td1"><P class="p1 ft3">50</P></TD>
	<TD class="tr1 td2"><P class="p2 ft4">Univision</P></TD>
	<TD colspan=4 rowspan=2 class="tr15 td11"><P class="p3 ft14">For television service requests, call 215. 662. 3900</P></TD>
	<TD class="tr1 td7"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td0"></TD>
	<TD rowspan=2 class="tr1 td1"><P class="p1 ft3">51</P></TD>
	<TD rowspan=2 class="tr1 td2"><P class="p2 ft4">Cartoon Network</P></TD>
	<TD class="tr16 td7"><P class="p1 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td0"></TD>
	<TD colspan=3 rowspan=2 class="tr17 td12"><P class="p9 ft14"><SPAN class="ft16">{</SPAN>or email tvservice@uphs.upenn.edu</P></TD>
	<TD class="tr10 td6"><P class="p1 ft17">&nbsp;</P></TD>
	<TD rowspan=2 class="tr17 td7"><P class="p10 ft16">}</P></TD>
</TR>
<TR>
	<TD class="tr18 td0"></TD>
	<TD class="tr18 td1"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr18 td2"><P class="p1 ft5">&nbsp;</P></TD>
	<TD class="tr18 td6"><P class="p1 ft5">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2_2">
<!--[if lte IE 7]><P style="margin-left:-481px;margin-top:0px;margin-right:0px;margin-bottom:0px;" class="p11 ft18"><![endif]--><!--[if gte IE 8]><P style="margin-left:0px;margin-top:0px;margin-right:-481px;margin-bottom:481px;" class="p11 ft18"><![endif]--><![if ! IE]><P style="margin-left:-241px;margin-top:241px;margin-right:-240px;margin-bottom:240px;" class="p11 ft18"><![endif]>Info Television HUP</P>
</DIV>
</DIV>

</DIV>
</BODY>
</HTML>
