<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.68">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 743px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 100px 0px 0px 0px;padding: 0px;border:none;width: 342px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 161px 0px 0px 0px;padding: 0px;border:none;width: 385px;overflow: hidden;}
#page_1 #id_2 #id_2_3 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 28px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_3 #id_3_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 342px;overflow: hidden;}
#page_1 #id_3 #id_3_2 {float:left;border:none;margin: 2px 0px 0px 0px;padding: 0px;border:none;width: 442px;overflow: hidden;}
#page_1 #id_4 {border:none;margin: 79px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}



#page_1 #tx1 {position:absolute;top:721px;left:649px;width:147px;height:14px;}
#page_1 #tx2 {position:absolute;top:682px;left:629px;width:183px;height:39px;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft1{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft2{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft3{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft4{font: 23px 'Arial';color: #f59745;line-height: 26px;}
.ft5{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft6{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft7{font: 15px 'Arial';color: #f6a55f;line-height: 16px;}
.ft8{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft9{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 21px;}
.ft10{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft11{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 20px;}
.ft12{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft13{font: bold 16px 'Arial';color: #4d4d4f;line-height: 22px;}
.ft14{font: 1px 'Times New Roman';line-height: 1px;}
.ft15{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 9px;}
.ft16{font: bold 11px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft17{font: 1px 'Times New Roman';line-height: 10px;}
.ft18{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft19{font: bold 11px 'Helvetica';color: #d2232a;line-height: 11px;}
.ft20{font: 1px 'Times New Roman';line-height: 11px;}
.ft21{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft22{font: 1px 'Times New Roman';line-height: 9px;}
.ft23{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft24{font: bold 11px 'Helvetica';color: #d2232a;line-height: 18px;}
.ft25{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 35px;margin-bottom: 0px;}
.p2{text-align: left;padding-right: 36px;margin-top: 8px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p4{text-align: left;margin-top: 4px;margin-bottom: 0px;}
.p5{text-align: left;margin-top: 28px;margin-bottom: 0px;}
.p6{text-align: left;padding-right: 80px;margin-top: 13px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 24px;padding-right: 99px;margin-top: 22px;margin-bottom: 0px;text-indent: -24px;}
.p8{text-align: left;padding-left: 24px;padding-right: 98px;margin-top: 2px;margin-bottom: 0px;}
.p9{text-align: left;padding-left: 24px;padding-right: 100px;margin-top: 5px;margin-bottom: 0px;text-indent: -24px;}
.p10{text-align: justify;padding-left: 24px;padding-right: 93px;margin-top: 11px;margin-bottom: 0px;text-indent: -24px;}
.p11{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:213px;height:16px;}
.p12{text-align: left;padding-right: 67px;margin-top: 12px;margin-bottom: 0px;}
.p13{text-align: left;padding-right: 40px;margin-top: 3px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 194px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: center;padding-right: 16px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p17{text-align: center;padding-right: 17px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: center;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p19{text-align: left;padding-left: 214px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: left;padding-left: 214px;margin-top: 1px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 203px;padding-right: 64px;margin-top: 1px;margin-bottom: 0px;text-indent: 12px;}
.p23{text-align: right;padding-right: 59px;margin-top: 6px;margin-bottom: 0px;}
.p24{text-align: right;padding-right: 59px;margin-top: 8px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 281px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 13px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 294px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 89px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 370px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 15px;}
.tr1{height: 9px;}
.tr2{height: 19px;}
.tr3{height: 10px;}
.tr4{height: 16px;}
.tr5{height: 11px;}
.tr6{height: 18px;}

.t0{width: 370px;font: bold 11px 'Helvetica';color: #d2232a;}
.t1{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<DIV id="tx1"><SPAN class="ft0">&nbsp;</SPAN><NOBR><SPAN class="ft0">&nbsp;</SPAN></NOBR></DIV>
<DIV id="tx2"><SPAN class="ft1">&nbsp;</SPAN></DIV>

<DIV class="dclr"></DIV>

<DIV id="id_2">
<DIV id="id_2_1">
<br>
<P class="p0 ft4">Oncology Resources</P>
<P class="p1 ft5">Clinical Trials</P>
<P class="p2 ft6">Clinical trials are research studies that involve people and test new ways to prevent, detect, diagnose, or treat cancer and other diseases. Penn’s Abramson Cancer Center, an <NOBR>NCI-designated</NOBR> comprehensive cancer center, oversees one of the largest clinical trial programs in the country. Contact Penn Medicine to learn if a clinical trial is right for you.<br></P>
<br>
<br>
<P class="p3 ft7"><NOBR>Monday-Friday:</NOBR> 8:30am – 5:30pm</P>
<P class="p4 ft7">Toll Free: 1.855.216.0098</P>
<P class="p4 ft7">Local: 1.646.354.4221</P>
<P class="p4 ft7">E: PennCancerTrials@emergingmed.com</P>
<P class="p5 ft5">Cancer Counseling</P>
<P class="p3 ft7">215.615.0534</P>
<P class="p4 ft7">E: cancercounseling@uphs.upenn.edu</P>
<P class="p5 ft5">Meditation</P>
<P class="p3 ft7">215.615.2774</P>
<P class="p4 ft7">E: pennprogramformindfulness@uphs.upenn.edu</P>
</DIV>
<DIV id="id_2_2">
<br>
<P class="p0 ft5">Reiki</P>
<P class="p6 ft6">Reiki is a gentle, completely <NOBR>non-invasive</NOBR> practice that promotes balance and <NOBR>well-being.</NOBR> Reiki involves light touch of the practitioner’s hands on or slightly above the patient’s body.</P>
<P class="p7 ft6"><SPAN class="ft8">▷</SPAN><SPAN class="ft9">Reiki therapy may supplement the traditional treatment services, such as chemotherapy, surgery and radiation therapy, provided to cancer patients. Reiki may offer you ways to enhance the quality of your life, minimize</SPAN></P>
<P class="p8 ft10">or reduce side effects of cancer and cancer treatment, and promote healing and recovery.</P>
<P class="p9 ft6"><SPAN class="ft8">▷</SPAN><SPAN class="ft9">Sessions generally last </SPAN><NOBR>10-30</NOBR> minutes and are provided during outpatient chemotherapy treatment (or other infusions), before or after radiation oncology/proton beam therapy, or during an inpatient stay.</P>
<P class="p10 ft10"><SPAN class="ft8">▷</SPAN><SPAN class="ft11">If you are interested in receiving a free session, please speak with your nurse.</SPAN></P>
</DIV>
<DIV id="id_2_3">
<!--[if lte IE 7]><P style="margin-left:-197px;margin-top:0px;margin-right:0px;margin-bottom:0px;" class="p11 ft12"><![endif]--><!--[if gte IE 8]><P style="margin-left:0px;margin-top:0px;margin-right:-197px;margin-bottom:197px;" class="p11 ft12"><![endif]--><![if ! IE]><P style="margin-left:-99px;margin-top:99px;margin-right:-98px;margin-bottom:98px;" class="p11 ft12"><![endif]>Resources Oncology</P>
</DIV>
</DIV>
<DIV id="id_3">
<DIV id="id_3_1">
<P class="p0 ft5">OncoLink</P>
<P class="p12 ft10">OncoLink is an interactive website where you can learn about your type of cancer, treatments,</P>
<P class="p13 ft6">medications, side effects, and much more. OncoLink also features information about available resources and support. If you do not have a computer, there is a public patient computer in the patient/family lounge, or ask your nurse to print the information for you. <SPAN class="ft13">www.oncolink.org</SPAN></P>
</DIV>
<DIV id="id_3_2">
<P class="p0 ft5">Social Work</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p14 ft0">&nbsp;</P></TD>
	<TD class="tr0 td1"><P class="p15 ft14">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p16 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr1 td3"><P class="p15 ft15">All of the oncology units have a designated social</P></TD>
	<TD rowspan=2 class="tr2 td2"><P class="p16 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p14 ft16">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p15 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td0"><P class="p15 ft18">worker who supports you and your<SPAN class="ft0">&nbsp;</SPAN>family in a</P></TD>
	<TD class="tr4 td1"><P class="p15 ft14">&nbsp;</P></TD>
	<TD class="tr4 td2"><P class="p16 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"><P class="p14 ft19">&nbsp;</P></TD>
	<TD class="tr5 td1"><P class="p15 ft20">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p17 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr1 td3"><P class="p15 ft15">variety of ways. Oncology social workers connect</P></TD>
	<TD rowspan=2 class="tr6 td2"><P class="p17 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p14 ft21">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p15 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p15 ft15">you with financial and community resources and</P></TD>
	<TD colspan=2 rowspan=2 class="tr2 td4"><P class="p18 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p14 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr4 td5"><P class="p15 ft18">also provide supportive counseling during inpatient <SPAN class="ft0">&nbsp;</SPAN></P></TD>
</TR>
<TR>
	<TD class="tr5 td0"><P class="p14 ft19">&nbsp;</P></TD>
	<TD class="tr5 td1"><P class="p15 ft20">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p16 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p15 ft15">admissions. Additionally, the social worker can</P></TD>
	<TD class="tr1 td1"><P class="p15 ft22">&nbsp;</P></TD>
	<TD rowspan=2 class="tr6 td2"><P class="p16 ft23">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p14 ft21">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p15 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr1 td3"><P class="p15 ft15">arrange notary services and assist with completing</P></TD>
	<TD class="tr1 td2"><P class="p15 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p19 ft16">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p15 ft17">&nbsp;</P></TD>
	<TD class="tr3 td2"><P class="p15 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td0"><P class="p15 ft18">disability forms and other paperwork<SPAN class="ft0">&nbsp;</SPAN>.</P></TD>
	<TD colspan=2 class="tr4 td4"><P class="p20 ft0">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p21 ft1">&nbsp;</P>
<P class="p22 ft24">&nbsp;</P>
<P class="p23 ft0">&nbsp;</P>
<P class="p24 ft0">&nbsp;</P>
</DIV>
</DIV>

</DIV>
</BODY>
</HTML>
