<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1000px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 830px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 59px 0px 0px 0px;padding: 0px;border:none;width: 814px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 162px 0px 0px 0px;padding: 0px;border:none;width: 872px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 74px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;padding-left: 67px;left:20px;width:750px;height:500px;}
#page_1 #dimg1 #img1 {width:750px;height:500px;}



#page_1 #tx1 {position:absolute;top:674px;left:621px;width:22px;height:15px;}
#page_1 #tx2 {position:absolute;top:680px;left:620px;width:194px;height:14px;}
#page_1 #tx3 {position:absolute;top:701px;left:620px;width:194px;height:14px;}
#page_1 #tx4 {position:absolute;top:659px;left:629px;width:180px;height:14px;}

.ft0{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft1{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft2{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft3{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft4{font: 23px 'Arial';color: #b30838;line-height: 26px;}
.ft5{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft6{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft7{font: 1px 'Times New Roman';line-height: 1px;}
.ft8{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft9{font: bold 11px 'Helvetica';color: #d2232a;line-height: 8px;}
.ft10{font: bold 11px 'Helvetica';color: #d2232a;line-height: 19px;position: relative; bottom: -3px;}
.ft11{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft12{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 19px;}
.ft13{font: italic 90px 'Times New Roman';color: #e2ecf2;line-height: 50px;}
.ft14{font: italic 90px 'Times New Roman';color: #e2ecf2;line-height: 50px;position: relative; bottom: -29px;}
.ft15{font: italic 20px 'Times New Roman';color: #6bb1cc;line-height: 22px;}
.ft16{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft17{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: right;padding-right: 50px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 87px;margin-top: 100px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:127px;height:16px;}
.p3{text-align: right;padding-right: 64px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 628px;margin-top: 0px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 645px;margin-top: 0px;margin-bottom: 0px;}
.p6{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: center;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: left;padding-left: 640px;margin-top: 2px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 640px;margin-top: 0px;margin-bottom: 0px;}
.p12{text-align: left;padding-left: 89px;padding-right: 99px;margin-top: 0px;margin-bottom: 0px;}
.p13{text-align: left;padding-left: 89px;padding-right: 255px;margin-top: 3px;margin-bottom: 0px;}
.p14{text-align: left;padding-left: 88px;padding-right: 212px;margin-top: 0px;margin-bottom: 0px;text-indent: -46px;}
.p15{text-align: left;padding-left: 88px;padding-right: 196px;margin-top: 1px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 88px;margin-top: 1px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 87px;margin-top: 28px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 87px;padding-right: 236px;margin-top: 6px;margin-bottom: 0px;text-indent: 1px;}

.td0{padding: 0px;margin: 0px;width: 92px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 76px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 16px;}
.tr1{height: 15px;}
.tr2{height: 17px;}
.tr3{height: 10px;}

.t0{width: 168px;margin-left: 620px;margin-top: 13px;font: bold 11px 'Helvetica';color: #d2232a;}
.t1{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>

<DIV id="id_1">
<DIV id="id_1_1">
<br>
<P class="p1 ft4">Welcome to the Hospital of the University of Pennsylvania</P>
<br>
</DIV>

</DIV>

<DIV id="page_1">
<DIV id="dimg1">
<IMG src="/assets/welcome.jpg" id="img1">
</DIV>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<P class="p12 ft11">There are several oncology units at The Hospital of the University of Pennsylvania, all offering the same great level of comfort, care, and clinical expertise. Patients on the oncology units are receiving chemotherapy, radiation, or bone marrow/stem cell transplants, as well as care symptoms of their disease.<br></P>
<P class="p13 ft15"><br>" Our highest priority is to provide you and your family with high quality, <NOBR>evidence-based,</NOBR> and <NOBR>patient-family</NOBR> centered care. "</P>
<P class="p15 ft16"><br>Throughout your stay, you will meet many members of your care team. They serve as valuable resources for you and your family. Members of your team may include physicians, nurse practitioners, physician assistants, nurse navigators, oncology nurses, certified nursing assistants, nursing support associates, secretaries, pharmacists, physical and occupational therapists, chaplains, social workers, discharge planners, nutritionists, and more. We are very proud of our team approach, which allows us to provide you with the very best care.</P>
<P class="p17 ft0">We hope this folder provides you with answers to some of your questions and concerns as</P>
<P class="p18 ft11">you manage your illness. We welcome all comments and suggestions from you and your family. Without your feedback, we cannot improve.</P>
</DIV>

</DIV>
</BODY>
</HTML>
