<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<META name="generator" content="BCL easyConverter SDK 3.0.68">
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1012px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 0px;padding: 0px;border:none;width: 872px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 34px 0px 0px 0px;padding: 0px;border:none;width: 342px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 442px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 142px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}




#page_2 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 850px;}
#page_2 #id_1 {border:none;margin: 0px 0px 0px 90px;padding: 0px;border:none;width: 736px;overflow: hidden;}
#page_2 #id_1 #id_1_1 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 341px;overflow: hidden;}
#page_2 #id_1 #id_1_2 {float:left;border:none;margin: 1px 0px 0px 0px;padding: 0px;border:none;width: 395px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 332px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_2 #dimg1 #img1 {width:872px;height:1112px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft1{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft2{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft3{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft4{font: 23px 'Arial';color: #812c8f;line-height: 26px;}
.ft5{font: 1px 'Times New Roman';line-height: 1px;}
.ft6{font: 1px 'Times New Roman';line-height: 12px;}
.ft7{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft8{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 10px;}
.ft9{font: 1px 'Times New Roman';line-height: 9px;}
.ft10{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft11{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft12{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft13{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft14{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft15{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 15px;}
.ft16{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 21px;}
.ft17{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 20px;}
.ft18{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft19{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft20{font: 1px 'Times New Roman';line-height: 13px;}
.ft21{font: 1px 'Times New Roman';line-height: 10px;}
.ft22{font: bold 11px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft23{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 11px;}
.ft24{font: 1px 'Times New Roman';line-height: 11px;}
.ft25{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 12px;}
.ft26{font: 8px 'Arial';color: #ffffff;line-height: 10px;}
.ft27{font: 16px 'Arial';color: #8e4b9b;line-height: 16px;}
.ft28{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 23px;}
.ft29{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;padding-left: 400px;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: right;padding-right: 39px;margin-top: 28px;margin-bottom: 0px;}
.p2{text-align: left;padding-left: 653px;margin-top: 0px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 670px;margin-top: 0px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 72px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: center;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: right;padding-right: 19px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: right;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 34px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: center;padding-left: 7px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p12{text-align: left;margin-top: 8px;margin-bottom: 0px;}
.p13{text-align: left;padding-right: 45px;margin-top: 12px;margin-bottom: 0px;}
.p14{text-align: justify;margin-top: 23px;margin-bottom: 0px;}
.p15{text-align: justify;padding-left: 24px;padding-right: 59px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p16{text-align: left;padding-left: 24px;padding-right: 65px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p17{text-align: justify;margin-top: 7px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 24px;padding-right: 45px;margin-top: 13px;margin-bottom: 0px;text-indent: -24px;}
.p19{text-align: justify;padding-left: 24px;padding-right: 59px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p20{text-align: left;padding-left: 24px;padding-right: 40px;margin-top: 8px;margin-bottom: 0px;text-indent: -24px;}
.p21{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:42px;height:14px;}
.p25{text-align: left;margin-top: 6px;margin-bottom: 0px;}
.p26{text-align: left;padding-right: 80px;margin-top: 28px;margin-bottom: 0px;}
.p27{text-align: left;margin-top: 27px;margin-bottom: 0px;}
.p28{text-align: justify;padding-right: 80px;margin-top: 6px;margin-bottom: 0px;}
.p29{text-align: left;padding-right: 80px;margin-top: 1px;margin-bottom: 0px;}
.p30{text-align: left;margin-top: 11px;margin-bottom: 0px;}
.p31{text-align: justify;margin-top: 11px;margin-bottom: 0px;}
.p32{text-align: justify;margin-top: 13px;margin-bottom: 0px;}
.p33{text-align: justify;margin-top: 12px;margin-bottom: 0px;}
.p34{text-align: justify;padding-left: 24px;padding-right: 77px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p35{text-align: justify;padding-left: 24px;padding-right: 47px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p36{text-align: justify;margin-top: 8px;margin-bottom: 0px;}
.p37{text-align: justify;padding-left: 24px;padding-right: 38px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p38{text-align: justify;padding-left: 24px;padding-right: 44px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p39{text-align: justify;padding-left: 24px;padding-right: 151px;margin-top: 13px;margin-bottom: 0px;text-indent: -24px;}
.p40{text-align: left;padding-left: 24px;padding-right: 93px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p41{text-align: justify;padding-left: 24px;padding-right: 147px;margin-top: 13px;margin-bottom: 0px;text-indent: -24px;}
.p42{text-align: left;margin-top: 28px;margin-bottom: 0px;}
.p43{text-align: justify;padding-left: 24px;padding-right: 154px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}
.p44{text-align: justify;padding-left: 24px;padding-right: 149px;margin-top: 8px;margin-bottom: 0px;text-indent: -24px;}

.td0{padding: 0px;margin: 0px;width: 629px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td2{border-bottom: #b0bbd9 0px solid;padding: 0px;margin: 0px;width: 198px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 431px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 198px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 713px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 110px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 40px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 215px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 169px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 20px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 189px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 384px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 33px;}
.tr1{height: 16px;}
.tr2{height: 17px;}
.tr3{height: 12px;}
.tr4{height: 10px;}
.tr5{height: 19px;}
.tr6{height: 9px;}
.tr7{height: 14px;}
.tr8{height: 20px;}
.tr9{height: 13px;}
.tr10{height: 15px;}
.tr11{height: 11px;}
.tr12{height: 18px;}
.tr13{height: 42px;}
.tr14{height: 24px;}

.t0{width: 797px;margin-left: 16px;margin-top: 13px;font: bold 11px 'Helvetica';color: #d2232a;}
.t1{width: 150px;margin-left: 215px;font: bold 11px 'Helvetica';color: #d2232a;}
.t2{width: 404px;font: bold 11px 'Helvetica';color: #d2232a;}
.t3{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">



<DIV class="dclr"></DIV>
<DIV id="id_1">
<br><br><br>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD colspan=2 rowspan=2 class="tr0 td0"><P class="p4 ft4">Neutropenia</P></TD>
	<TD class="tr1 td1"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr1 td1"><P class="p6 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td1"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p7 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td2"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p8 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td4"><P class="p5 ft6">&nbsp;</P></TD>
	<TD class="tr3 td3"><P class="p5 ft6">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p5 ft7">&nbsp;</P></TD>
	<TD class="tr3 td1"><P class="p9 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr4 td5"><P class="p4 ft8">If your white count is low, you have a condition called neutropenia. Your body does not have enough white</P></TD>
	<TD rowspan=2 class="tr5 td1"><P class="p6 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td4"><P class="p5 ft9">&nbsp;</P></TD>
	<TD class="tr6 td3"><P class="p5 ft9">&nbsp;</P></TD>
	<TD class="tr6 td1"><P class="p5 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr2 td0"><P class="p4 ft11">blood cells. This is important because you need white blood cells to fight infection.</P></TD>
	<TD class="tr2 td1"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr2 td1"><P class="p6 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td4"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr7 td3"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr7 td1"><P class="p5 ft5">&nbsp;</P></TD>
	<TD class="tr7 td1"><P class="p10 ft3">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p11 ft12">Neutropenic Precautions and</P>
<P class="p12 ft12">Preventing Infection</P>
<P class="p13 ft13">Many patients with cancer in the hospital have weakened immune systems and are at risk for infection. You, your family, and other visitors can help us protect you and the other patients by following the rules below:</P>
<P class="p14 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Perform frequent hand washing</SPAN></P>
<P class="p15 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">If you leave your patient room, wear a mask while walking in the hallway, throughout the hospital, and outside of the hospital.</SPAN></P>
<P class="p16 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">If there are signs on your hospital room door, please encourage visitors to follow the instructions on these signs.</SPAN></P>
<P class="p17 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">No fresh flowers.</SPAN></P>
<P class="p18 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Family/friends should not visit if they are sick or have been around someone that is sick. If there is any question, they should wear a mask.</SPAN></P>
<P class="p19 ft18"><SPAN class="ft14">▷</SPAN><SPAN class="ft17">Speak up and ask staff to wash their hands if you have a concern.</SPAN></P>
<P class="p20 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Tell staff if you have ever been in isolation while in the hospital. Did your visitors have to wear yellow gowns?</SPAN></P>
</DIV>
<DIV id="id_2_2">
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr1 td6"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p21 ft3">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td6"><P class="p5 ft3">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p21 ft19">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr8 td8"><P class="p5 ft12">Neutropenic Diet</P></TD>
	<TD class="tr8 td9"><P class="p22 ft3">&nbsp;</P></TD>
	<TD class="tr8 td10"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td8"><P class="p5 ft20">&nbsp;</P></TD>
	<TD colspan=2 class="tr9 td11"><P class="p22 ft2">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr10 td12"><P class="p5 ft11">If you are an Allo Transplant patient, you<SPAN class="ft3">&nbsp;</SPAN>should<SPAN class="ft3">&nbsp;</SPAN></P></TD>
	<TD class="tr10 td10"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p5 ft21">&nbsp;</P></TD>
	<TD class="tr4 td9"><P class="p22 ft22">&nbsp;</P></TD>
	<TD class="tr4 td10"><P class="p5 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr11 td12"><P class="p5 ft23">refer to the Allo Transplant Neutropenic Diet</P></TD>
	<TD class="tr11 td10"><P class="p5 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p5 ft21">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td11"><P class="p23 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr3 td12"><P class="p5 ft25">Guidelines given to you at the Allo class. If you do</P></TD>
	<TD class="tr3 td10"><P class="p5 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td8"><P class="p5 ft9">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td11"><P class="p21 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr3 td12"><P class="p5 ft25">not have them with you, ask your nurse to print a copy.</P></TD>
	<TD class="tr3 td10"><P class="p5 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr4 td8"><P class="p5 ft21">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td11"><P class="p21 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr10 td12"><P class="p5 ft11">Allo Transplant Neutropenic Diet Guidelines are</P></TD>
	<TD class="tr10 td10"><P class="p5 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr12 td12"><P class="p5 ft11">more strict than regular Neutropenic Diet Guidelines.</P></TD>
	<TD rowspan=2 class="tr13 td10"><!--[if lte IE 7]><P style="margin-left:-22px;margin-top:0px;margin-right:-6px;margin-bottom:0px;" class="p24 ft26"><![endif]--><!--[if gte IE 8]><P style="margin-left:6px;margin-top:0px;margin-right:-34px;margin-bottom:28px;" class="p24 ft26"><![endif]--><![if ! IE]><P style="margin-left:-8px;margin-top:14px;margin-right:-20px;margin-bottom:14px;" class="p24 ft26"><![endif]>Neutropenia</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr14 td12"><P class="p5 ft11">immune systems, and is often recommended before</P></TD>
</TR>
</TABLE>
<P class="p11 ft27"><br>What is the neutropenic diet?</P>
<P class="p28 ft13">A neutropenic diet is for people with weakened and after certain types of chemotherapy and other cancer treatments. If you are neutropenic, this diet helps protect you from bacteria and other harmful organisms found in some food and drinks. If your immune system is not working well, your body may have a hard time protecting itself from these bacteria. Cooking foods (like beef, chicken, fish, and eggs) completely makes sure that all bacteria are destroyed.</P>
<P class="p27 ft27">Modifications</P>
<P class="p28 ft13">Foods known to contain significant numbers of harmful bacteria, yeasts or molds must be either cooked or excluded from the diet. Generally</P>
<P class="p29 ft13">all foods must be well cooked, well washed or processed prior to serving. Safe food preparation is a must. All foods must be served at proper temperatures.</P>
</DIV>
</DIV>
<DIV id="id_3">
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr4 td13"><P class="p5 ft29">410091 HUP Mrkt <NOBR>CAN-FY13-2113</NOBR> <NOBR>Hema-Onc</NOBR> Inpatient Info Inserts.indd 9</P></TD>
	<TD class="tr4 td14"><P class="p5 ft29">12/1/14 11:54 AM</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
<DIV id="page_2">


<DIV class="dclr"></DIV>
<DIV id="id_1">
<DIV id="id_1_1">
<P class="p11 ft12">Neutropenic Diet Guidelines</P>
<P class="p30 ft27">The following are NOT allowed:</P>
<P class="p31 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Food from restaurants, street vendors <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;or buffets</SPAN></P>
<P class="p32 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Unpasteurized fruit juices</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Fresh or frozen berries</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Fresh, unroasted nuts</SPAN></P>
<P class="p32 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Aged cheeses</SPAN></P>
<P class="p34 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Unpasteurized soft cheeses (e.g. brie, feta) unless well cooked</SPAN></P>
<P class="p35 ft18"><SPAN class="ft14">▷</SPAN><SPAN class="ft17">Uncooked luncheon meats and other processed meats, including turkey and ham</SPAN></P>
<P class="p36 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Undercooked meat, poultry, fish, pork <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;and eggs</SPAN></P>
<P class="p32 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Any food not stored at proper <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;temperature.</SPAN></P>
<P class="p37 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Bakery cakes and pastries requiring refrigeration (e.g. cream and custard filled products)</SPAN></P>
<P class="p17 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Raw vegetable sprouts</SPAN></P>
<P class="p38 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">No bleu cheese dressing or dressings containing raw eggs</SPAN></P>
</DIV>
<DIV id="id_1_2">
<P class="p11 ft27">The following are allowed:</P>
<P class="p31 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Well washed fruit and vegetables<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (except berries)</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Dried fruits</SPAN></P>
<P class="p39 ft18"><SPAN class="ft14">▷</SPAN><SPAN class="ft17">Cooked fresh, frozen, or canned fruits and vegetables</SPAN></P>
<P class="p36 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Pasteurized fruit juices</SPAN></P>
<P class="p32 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Pasteurized milk & dairy products</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Commercially made yogurts</SPAN></P>
<P class="p40 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Cottage cheese, cream cheese, ricotta cheese, pasteurized processed cheese slices, prepackaged hard cheeses (e.g. mild and medium cheddar, mozzarella, Swiss, American processed cheese)</SPAN></P>
<P class="p36 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Vacuum packaged roasted nuts</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Dried spices including pepper</SPAN></P>
<P class="p33 ft11"><SPAN class="ft14">▷</SPAN><SPAN class="ft15">Tap water (unless well water)</SPAN></P>
<P class="p41 ft18"><SPAN class="ft14">▷</SPAN><SPAN class="ft17">Meat (on and off bone) </SPAN><NOBR>well-cooked</NOBR> to proper temperature</P>
<P class="p42 ft27">Special Considerations:</P>
<P class="p43 ft18"><SPAN class="ft14">▷</SPAN><SPAN class="ft17">Wash all prepackaged fresh fruits and vegetables prior to eating</SPAN></P>
<P class="p44 ft13"><SPAN class="ft14">▷</SPAN><SPAN class="ft16">Wash all frozen fruits prior to eating if eating uncooked</SPAN></P>
</DIV>
</DIV>

</DIV>
</BODY>
</HTML>
