<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 2000px;}
#page_1 #id_1 {border:none;margin: 0px 0px 0px 400px;padding: 0px;border:none;width: 432px;overflow: hidden;}
#page_1 #id_1 #id_1_1 {float:left;border:none;margin: 59px 0px 0px 0px;padding: 0px;border:none;width: 416px;overflow: hidden;}
#page_1 #id_1 #id_1_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 48px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_3 #id_3_1 {float:left;border:none;margin: 9px 0px 0px 0px;padding: 0px;border:none;width: 297px;overflow: hidden;}
#page_1 #id_3 #id_3_2 {float:left;border:none;margin: 0px 0px 0px 45px;padding: 0px;border:none;width: 442px;overflow: hidden;}
#page_1 #id_4 {border:none;margin: 170px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}



#page_1 #tx1 {position:absolute;top:719px;left:648px;width:181px;height:14px;}

.ft0{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft1{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft2{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft3{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft4{font: 23px 'Arial';color: #b30838;line-height: 26px;}
.ft5{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft6{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 25px;}
.ft7{font: 1px 'Times New Roman';line-height: 1px;}
.ft8{font: 13px 'Arial';color: #25408f;line-height: 16px;}
.ft9{font: 13px 'Arial';color: #9b3c5f;line-height: 16px;}
.ft10{font: 13px 'Arial';color: #2a7b41;line-height: 16px;}
.ft11{font: 13px 'Arial';color: #8b595a;line-height: 16px;}
.ft12{font: 12px 'Arial';color: #50c1b3;line-height: 15px;}
.ft13{font: 13px 'Arial';color: #4aade2;line-height: 16px;}
.ft14{font: 13px 'Arial';color: #4d4d4f;line-height: 16px;}
.ft15{font: bold 11px 'Helvetica';color: #d2232a;line-height: 11px;}
.ft16{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft17{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft18{font: 1px 'Times New Roman';line-height: 4px;}
.ft19{font: 120px 'Arial';color: #c8dde9;line-height: 134px;}
.ft20{font: 15px 'Arial';color: #6bb1cc;line-height: 16px;}
.ft21{font: 15px 'Arial';color: #be2d56;line-height: 16px;}
.ft22{font: 15px 'Arial';color: #6bb1cc;line-height: 9px;}
.ft23{font: bold 11px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft24{font: 1px 'Times New Roman';line-height: 3px;}
.ft25{font: 15px 'Arial';color: #6bb1cc;line-height: 14px;}
.ft26{font: 1px 'Times New Roman';line-height: 6px;}
.ft27{font: 1px 'Times New Roman';line-height: 10px;}
.ft28{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft29{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft30{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft31{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 21px;}
.ft32{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft33{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 18px;}
.ft34{font: bold 11px 'Helvetica';color: #d2232a;line-height: 19px;position: relative; bottom: -2px;}
.ft35{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft36{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 15px;}
.ft37{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;position: relative; bottom: 3px;}
.ft38{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;position: relative; bottom: -2px;}
.ft39{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:144px;height:16px;}
.p2{text-align: left;margin-top: 31px;margin-bottom: 0px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: right;padding-right: 92px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: right;padding-right: 90px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p6{text-align: center;padding-left: 69px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: center;padding-left: 70px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: left;padding-left: 65px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: right;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: right;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: center;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 85px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: center;padding-left: 73px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-right: 2px;margin-top: 0px;margin-bottom: 0px;}
.p16{text-align: left;padding-left: 24px;margin-top: 28px;margin-bottom: 0px;text-indent: -24px;}
.p17{text-align: left;padding-left: 25px;padding-right: 12px;margin-top: 7px;margin-bottom: 0px;text-indent: -25px;}
.p18{text-align: left;padding-left: 230px;margin-top: 0px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 25px;padding-right: 79px;margin-top: 0px;margin-bottom: 0px;text-indent: -24px;}
.p20{text-align: justify;margin-top: 7px;margin-bottom: 0px;}
.p21{text-align: justify;padding-left: 24px;margin-top: 7px;margin-bottom: 0px;}
.p22{text-align: left;margin-top: 37px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 24px;padding-right: 146px;margin-top: 12px;margin-bottom: 0px;text-indent: -24px;}

.td0{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 619px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 121px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 100px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 44px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 192px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 106px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 45px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 253px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 336px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 144px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 132px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 151px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 18px;}
.tr1{height: 21px;}
.tr2{height: 22px;}
.tr3{height: 20px;}
.tr4{height: 11px;}
.tr5{height: 12px;}
.tr6{height: 13px;}
.tr7{height: 27px;}
.tr8{height: 14px;}
.tr9{height: 25px;}
.tr10{height: 29px;}
.tr11{height: 4px;}
.tr12{height: 147px;}
.tr13{height: 16px;}
.tr14{height: 28px;}
.tr15{height: 9px;}
.tr16{height: 19px;}
.tr17{height: 7px;}
.tr18{height: 10px;}
.tr19{height: 3px;}
.tr20{height: 23px;}
.tr21{height: 17px;}
.tr22{height: 6px;}
.tr23{height: 15px;}

.t0{width: 740px;margin-top: 10px;font: bold 11px 'Helvetica';color: #d2232a;}
.t1{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">

<br><br><br><br>	
<DIV id="id_2">
<P class="p0 ft4">What to Expect During Your Stay</P>
<P class="p2 ft5">Color Coding</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"></TD>
	<TD colspan=6 class="tr0 td1"><P class="p3 ft6">To help you easily identify our staff during your stay we have color coordinated uniforms.</P></TD>
	<TD class="tr0 td2"><P class="p3 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td3"><P class="p3 ft6">Nurses (RNs)</P></TD>
	<TD class="tr1 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td8"><P class="p4 ft8">NAVY BLUE</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD colspan=3 class="tr2 td9"><P class="p3 ft6">Certified Nursing Assistants (CNAs)</P></TD>
	<TD class="tr2 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td8"><P class="p4 ft9">MAROON</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD class="tr1 td3"><P class="p3 ft6">Environmental</P></TD>
	<TD class="tr1 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td8"><P class="p4 ft10">DARK GREEN</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD colspan=2 class="tr1 td10"><P class="p3 ft6">Support Associates</P></TD>
	<TD class="tr1 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td8"><P class="p4 ft11">BROWN</P></TD>
</TR>
<TR>
	<TD class="tr2 td0"></TD>
	<TD class="tr2 td3"><P class="p3 ft6">Transport Staff</P></TD>
	<TD class="tr2 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td11"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr2 td2"><P class="p5 ft12">TEAL</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"></TD>
	<TD colspan=3 class="tr1 td9"><P class="p3 ft6">Physical Therapy & Occupational Therapy</P></TD>
	<TD class="tr1 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr1 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr1 td8"><P class="p4 ft13">LIGHT BLUE</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"></TD>
	<TD class="tr3 td3"><P class="p3 ft6">Unit Secretaries</P></TD>
	<TD class="tr3 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr3 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr3 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr3 td8"><P class="p4 ft14">PROFESSIONAL ATTIRE</P></TD>
</TR>
<TR>
	<TD class="tr4 td0"></TD>
	<TD class="tr4 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr4 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr4 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr4 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr4 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr4 td8"><P class="p6 ft15">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"></TD>
	<TD class="tr5 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td4"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td8"><P class="p7 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td0"></TD>
	<TD colspan=2 rowspan=2 class="tr7 td10"><P class="p3 ft5">Different Shifts</P></TD>
	<TD class="tr6 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr6 td8"><P class="p6 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr8 td8"><P class="p6 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td0"></TD>
	<TD colspan=3 class="tr9 td9"><P class="p3 ft6">Our RNs and CNAs work 8 or 12 hour shifts.</P></TD>
	<TD class="tr9 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr9 td7"><P class="p3 ft7">&nbsp;</P></TD>
	<TD rowspan=2 class="tr10 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD rowspan=2 class="tr10 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td0"></TD>
	<TD class="tr11 td3"><P class="p3 ft18">&nbsp;</P></TD>
	<TD rowspan=14 class="tr12 td4"><P class="p10 ft19">{</P></TD>
	<TD class="tr11 td5"><P class="p3 ft18">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p3 ft18">&nbsp;</P></TD>
	<TD rowspan=14 class="tr12 td7"><P class="p11 ft19">{</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"></TD>
	<TD class="tr13 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p12 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"></TD>
	<TD class="tr13 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"></TD>
	<TD class="tr13 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD rowspan=2 class="tr14 td5"><P class="p3 ft20">Day: 7 am – 3 pm</P></TD>
	<TD class="tr13 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td0"></TD>
	<TD class="tr5 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr5 td11"><P class="p8 ft16">&nbsp;</P></TD>
	<TD class="tr5 td2"><P class="p9 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td0"></TD>
	<TD rowspan=2 class="tr13 td3"><P class="p3 ft21">8 HOUR SHIFTS</P></TD>
	<TD rowspan=3 class="tr16 td5"><P class="p3 ft20">Evening: 3 pm – 11 pm</P></TD>
	<TD rowspan=2 class="tr13 td6"><P class="p3 ft21">12 HOUR SHIFTS</P></TD>
	<TD class="tr15 td11"><P class="p3 ft22">Day: 7 am – 7 pm</P></TD>
	<TD rowspan=3 class="tr16 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr17 td0"></TD>
	<TD rowspan=2 class="tr18 td11"><P class="p8 ft23">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr19 td0"></TD>
	<TD class="tr19 td3"><P class="p3 ft24">&nbsp;</P></TD>
	<TD class="tr19 td6"><P class="p3 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td0"></TD>
	<TD class="tr8 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD rowspan=3 class="tr20 td5"><P class="p3 ft20">Night: 11 pm – 7 am</P></TD>
	<TD class="tr8 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr8 td11"><P class="p3 ft25">Night: 7 pm – 7 am</P></TD>
	<TD rowspan=2 class="tr21 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr19 td0"></TD>
	<TD class="tr19 td3"><P class="p3 ft24">&nbsp;</P></TD>
	<TD class="tr19 td6"><P class="p3 ft24">&nbsp;</P></TD>
	<TD class="tr19 td11"><P class="p3 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr22 td0"></TD>
	<TD class="tr22 td3"><P class="p3 ft26">&nbsp;</P></TD>
	<TD class="tr22 td6"><P class="p3 ft26">&nbsp;</P></TD>
	<TD rowspan=2 class="tr13 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD rowspan=2 class="tr13 td2"><P class="p9 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr18 td0"></TD>
	<TD class="tr18 td3"><P class="p3 ft27">&nbsp;</P></TD>
	<TD class="tr18 td5"><P class="p3 ft27">&nbsp;</P></TD>
	<TD class="tr18 td6"><P class="p3 ft27">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td0"></TD>
	<TD class="tr13 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr13 td11"><P class="p8 ft0">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p9 ft28">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr23 td0"></TD>
	<TD class="tr23 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr23 td5"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr23 td6"><P class="p3 ft7">&nbsp;</P></TD>
	<TD colspan=2 class="tr23 td8"><P class="p13 ft0">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td0"></TD>
	<TD colspan=3 class="tr16 td9"><P class="p3 ft5"><br>Patient & Family Centered Care</P></TD>
	<TD colspan=2 class="tr16 td12"><P class="p11 ft5"><br>Blood Sugar Checks</P></TD>
	<TD colspan=2 class="tr16 td8"><P class="p14 ft0">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_3">
<DIV id="id_3_1">
<P class="p15 ft29">We recognize the importance of family in providing you with safe care. They are your advocates and know you better than anyone.</P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">Patient & Family Centered Care: A partnership between your TEAM & FAMILY. You are always at the center.</SPAN></P>
<P class="p17 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">You define the members of your family regardless of biological or legal relationships.</SPAN></P>
</DIV>
<DIV id="id_3_2">
<P class="p18 ft32">&nbsp;</P>
<P class="p19 ft35"><SPAN class="ft33">▷ </SPAN>&nbsp;&nbsp;A CNA may be checking your blood<SPAN class="ft34">&nbsp;</SPAN>sugar<SPAN class="ft34">&nbsp;</SPAN>for <SPAN class="ft34">&nbsp; </SPAN>several reasons.</P>
<P class="p20 ft6"><SPAN class="ft30">▷</SPAN><SPAN class="ft36">Schedule: Before meals & bedtime,</SPAN><SPAN class="ft37">&nbsp;</SPAN>or every<SPAN class="ft37">&nbsp;</SPAN></P>
<P class="p21 ft38">6 hours if you are not eating. <SPAN class="ft0">&nbsp;</SPAN></P>
<P class="p22 ft5">Chemotherapy Precautions</P><br>
<P class="p19 ft35"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">RNs and CNAs wear purple gloves when you are receiving chemotherapy and up to 48 hours after because the chemotherapy is excreted in bodily fluids such as sweat and urine.</SPAN></P>
</DIV>
</DIV>





<DIV id="id_2">
<TABLE cellpadding=0 cellspacing=0 class="t0">

<TR>
	<TD class="tr16 td0"></TD>
	<TD colspan=3 class="tr16 td9"><P class="p3 ft5"><br>Daily Weights</P></TD>
	<TD colspan=2 class="tr16 td12"><P class="p11 ft5"><br>Linens /towels/toiletries</P></TD>
	<TD colspan=2 class="tr16 td8"><P class="p14 ft0">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_3">
<DIV id="id_3_1">
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">A CNA may weigh you every morning.</SPAN></P>
<P class="p22 ft5">Food Services</P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">Breakfast, lunch, & dinner will be brought to
you by a food service associate.</SPAN></P>
<P class="p20 ft6"><SPAN class="ft30">▷</SPAN><SPAN class="ft36">With each meal delivery, he/she will &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;take your
order for the next meal.</SPAN></P>
<P class="p22 ft5">Hourly Rounds</P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">RNs & CNAs will check on you at least every hour to ensure your safety, assess pain, & attend to any needs you may have.</SPAN></P>
<P class="p22 ft5">Labs</P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">If you have a central line, a RN will draw your labs between 4:00am – 6:00am.</SPAN></P>
<P class="p20 ft6"><SPAN class="ft30">▷</SPAN><SPAN class="ft36">If you do not have a central line, a &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;phlebotomist
(lab draw specialist) will &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;draw your labs (needlestick) between &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4:00am – 6:00am.</SPAN></P>
</DIV>
<DIV id="id_3_2">
<P class="p18 ft32">&nbsp;</P>
<P class="p19 ft35"><SPAN class="ft33">▷ </SPAN>&nbsp;&nbsp;A CNA will change your linens & bring<SPAN class="ft34">&nbsp;</SPAN>you fresh towels, gowns, & personal supplies every day.</P>
<P class="p20 ft6"><SPAN class="ft30">▷</SPAN><SPAN class="ft36">A CNA will offer you assistance with personal<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hygiene if needed.</P>
<P class="p22 ft5">Quiet Environment</P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">We value a quiet environment.</SPAN></P>
<P class="p20 ft6"><SPAN class="ft30">▷</SPAN><SPAN class="ft36">Lights are turned low at 10:00pm every night.</SPAN></P>
<P class="p16 ft29"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">We have ear buds to assist you with noise <br>reduction</SPAN></P>
<P class="p22 ft5">Team Rounding</P><br>
<P class="p19 ft35"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">Your team will come to your room daily to talk about your care between the hours of
8:00am – 12:00pm (approximately).</SPAN></P>
<P class="p22 ft5">Vital Signs</P><br>
<P class="p19 ft35"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">Your vital signs will be checked every 4 hours.</SPAN></P><br>
<P class="p19 ft35"><SPAN class="ft30">▷</SPAN><SPAN class="ft31">If you are getting chemotherapy, blood, platelets or other infusions, your vitals will
be done more frequently.</SPAN></P>
</DIV>
</DIV>

</DIV>





</BODY>
</HTML>
