<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 82px;padding: 0px;border:none;width: 790px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 100px 0px 0px 0px;padding: 0px;border:none;width: 348px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 442px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 118px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}



#page_1 #tx1 {position:absolute;top:330px;left:195px;width:417px;height:14px;}

.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: italic 15px 'Times New Roman';color: #689a54;line-height: 14px;}
.ft1{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft2{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft3{font: 23px 'Arial';color: #f59745;line-height: 26px;}
.ft4{font: italic 17px 'Times New Roman';color: #6bb1cc;line-height: 15px;}
.ft5{font: italic 17px 'Times New Roman';color: #6bb1cc;line-height: 21px;}
.ft6{font: italic 17px 'Times New Roman';color: #6bb1cc;line-height: 20px;}
.ft7{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft8{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft9{font: 15px 'Arial';color: #f6a55f;line-height: 20px;}
.ft10{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft11{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 21px;}
.ft12{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 17px;line-height: 20px;}
.ft13{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft14{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 15px;}
.ft15{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft16{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 15px;line-height: 15px;}
.ft17{font: 1px 'Times New Roman';line-height: 1px;}
.ft18{font: 13px 'Arial';color: #ffffff;line-height: 14px;}
.ft19{font: 15px 'Arial';color: #f6a55f;line-height: 16px;}
.ft20{font: 1px 'Times New Roman';line-height: 7px;}
.ft21{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft22{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft23{font: 1px 'Times New Roman';line-height: 13px;}
.ft24{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft25{font: 1px 'Times New Roman';line-height: 9px;}
.ft26{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft27{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 9px;}
.ft28{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft29{font: 1px 'Times New Roman';line-height: 12px;}
.ft30{font: 1px 'Times New Roman';line-height: 11px;}
.ft31{font: bold 11px 'Helvetica';color: #d2232a;line-height: 11px;}
.ft32{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 14px;}
.ft33{font: bold 11px 'Helvetica';color: #d2232a;line-height: 8px;}
.ft34{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 12px;}
.ft35{font: 15px 'Arial';color: #f6a55f;line-height: 19px;}
.ft36{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;padding-left: 6px;margin-top: 0px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 30px;margin-bottom: 0px;}
.p3{text-align: left;padding-left: 6px;padding-right: 43px;margin-top: 6px;margin-bottom: 0px;}
.p4{text-align: left;padding-left: 6px;padding-right: 58px;margin-top: 1px;margin-bottom: 0px;}
.p5{text-align: left;padding-left: 6px;padding-right: 41px;margin-top: 19px;margin-bottom: 0px;}
.p6{text-align: left;padding-left: 6px;margin-top: 29px;margin-bottom: 0px;}
.p7{text-align: left;padding-left: 6px;padding-right: 37px;margin-top: 12px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 6px;padding-right: 67px;margin-top: 29px;margin-bottom: 0px;}
.p9{text-align: justify;padding-left: 30px;padding-right: 74px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p10{text-align: justify;padding-left: 31px;padding-right: 60px;margin-top: 7px;margin-bottom: 0px;text-indent: -25px;}
.p11{text-align: justify;padding-left: 6px;margin-top: 9px;margin-bottom: 0px;}
.p12{text-align: justify;padding-left: 6px;margin-top: 12px;margin-bottom: 0px;}
.p13{text-align: justify;padding-left: 6px;margin-top: 13px;margin-bottom: 0px;}
.p14{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:126px;height:14px;}
.p16{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:74px;height:14px;}
.p17{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p18{text-align: justify;margin-top: 5px;margin-bottom: 0px;}
.p19{text-align: center;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p20{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p21{text-align: center;padding-right: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p22{text-align: center;padding-right: 21px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p23{text-align: left;padding-left: 20px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: center;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p25{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: left;padding-left: 25px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p27{text-align: center;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p28{text-align: justify;padding-left: 25px;padding-right: 149px;margin-top: 4px;margin-bottom: 0px;text-indent: -25px;}
.p29{text-align: left;padding-right: 155px;margin-top: 25px;margin-bottom: 0px;}
.p30{text-align: justify;margin-top: 9px;margin-bottom: 0px;}
.p31{text-align: justify;padding-left: 25px;padding-right: 178px;margin-top: 13px;margin-bottom: 0px;text-indent: -25px;}
.p32{text-align: left;padding-left: 24px;padding-right: 152px;margin-top: 8px;margin-bottom: 0px;text-indent: -24px;}
.p33{text-align: justify;padding-left: 25px;padding-right: 164px;margin-top: 7px;margin-bottom: 0px;text-indent: -25px;}

.td0{padding: 0px;margin: 0px;width: 385px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 14px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 23px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 194px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 188px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 309px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 96px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 92px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 286px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 0px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 406px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 217px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 189px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 126px;}
.tr1{height: 60px;}
.tr2{height: 74px;}
.tr3{height: 20px;}
.tr4{height: 7px;}
.tr5{height: 26px;}
.tr6{height: 14px;}
.tr7{height: 12px;}
.tr8{height: 13px;}
.tr9{height: 18px;}
.tr10{height: 27px;}
.tr11{height: 9px;}
.tr12{height: 22px;}
.tr13{height: 15px;}
.tr14{height: 16px;}
.tr15{height: 23px;}
.tr16{height: 21px;}
.tr17{height: 28px;}
.tr18{height: 11px;}
.tr19{height: 8px;}
.tr20{height: 24px;}
.tr21{height: 10px;}

.t0{width: 399px;font: 13px 'Arial';color: #ffffff;}
.t1{width: 405px;font: bold 11px 'Helvetica';color: #d2232a;}
.t2{width: 406px;font: bold 11px 'Helvetica';color: #d2232a;}
.t3{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">


<DIV id="tx1"><SPAN class="ft0">– Penn Medicine Patient</SPAN></DIV>


<DIV id="id_2">
<DIV id="id_2_1">
<br>
<P class="p1 ft3">Fall Precautions</P>
<P class="p2 ft4">“I have never fallen like that before in my life.</P>
<P class="p3 ft5">It was terrifying. I remember it was two weeks after I finished my chemotherapy; I had no idea how weak I was. I was using the commode by myself.</P>
<P class="p4 ft6">I got up, felt very dizzy and fell face first onto the floor. I was very scared.”</P>
<br>
<P class="p5 ft7">Falls can be a worry for people both in the hospital and at home. We would like to teach you and your family members about ways to avoid falling in the hospital. We would also like you to learn some of the ways that we help to prevent falls in the hospital and how you can help.</P>
<P class="p6 ft8">What does “Fall Precaution” mean?</P>
<P class="p7 ft7">In the hospital, you may be on new medications, in a new environment or have some weakness. This can increase your risk of falling and the staff may note that on your chart.</P>
<P class="p8 ft9">There are some ways we help to prevent falls in the hospital, and you may see some of these used during your stay.</P>
<P class="p9 ft7"><SPAN class="ft10">▷</SPAN><SPAN class="ft11">The bed is in the low, locked position with 2 side rails up</SPAN></P>
<P class="p10 ft13"><SPAN class="ft10">▷</SPAN><SPAN class="ft12">The call bell and belongings are within reach at all times</SPAN></P>
<P class="p11 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft14">Clutter is decreased</SPAN></P>
<P class="p12 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft14">Spills are cleaned as soon as possible</SPAN></P>
<P class="p12 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft14">Good lighting</SPAN></P>
<P class="p13 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft14">Use of </SPAN><NOBR>non-slip</NOBR> footwear</P>
<P class="p12 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft16">Assistance is given for toileting needs</SPAN></P>
</DIV>
<DIV id="id_2_2">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p14 ft17">&nbsp;</P></TD>
	<TD class="tr0 td1"><!--[if lte IE 7]><P style="margin-left:-112px;margin-top:0px;margin-right:0px;margin-bottom:0px;" class="p15 ft18"><![endif]--><!--[if gte IE 8]><P style="margin-left:0px;margin-top:0px;margin-right:-112px;margin-bottom:112px;" class="p15 ft18"><![endif]--><![if ! IE]><P style="margin-left:-56px;margin-top:56px;margin-right:-56px;margin-bottom:56px;" class="p15 ft18"><![endif]>Fall</P></TD>
</TR>
<TR>
	<TD class="tr1 td0"><P class="p14 ft19">If you are on fall precautions, you and your</P></TD>
	<TD rowspan=3 class="tr2 td1"><!--[if lte IE 7]><P style="margin-left:-60px;margin-top:0px;margin-right:0px;margin-bottom:0px;" class="p16 ft18"><![endif]--><!--[if gte IE 8]><P style="margin-left:0px;margin-top:0px;margin-right:-60px;margin-bottom:60px;" class="p16 ft18"><![endif]--><![if ! IE]><P style="margin-left:-30px;margin-top:30px;margin-right:-30px;margin-bottom:30px;" class="p16 ft18"><![endif]>Precautions</P></TD>
</TR>
<TR>
	<TD class="tr3 td0"><P class="p17 ft19">visitors may see some of the following</P></TD>
</TR>
<TR>
	<TD class="tr4 td0"><P class="p14 ft20">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p18 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft15">&nbsp;&nbsp;Yellow signs outside room</SPAN></P>
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD rowspan=2 class="tr5 td2"><P class="p14 ft10">▷</P></TD>
	<TD rowspan=2 class="tr5 td3"><P class="p14 ft15">Yellow wrist band</P></TD>
	<TD colspan=2 class="tr6 td4"><P class="p19 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr7 td4"><P class="p19 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td2"><P class="p14 ft23">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p14 ft23">&nbsp;</P></TD>
	<TD colspan=2 class="tr8 td4"><P class="p19 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td2"><P class="p14 ft10">▷</P></TD>
	<TD class="tr9 td3"><P class="p14 ft15">Yellow <NOBR>non-skid</NOBR> socks</P></TD>
	<TD colspan=2 class="tr9 td4"><P class="p20 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr10 td5"><P class="p14 ft15"><SPAN class="ft10">▷ </SPAN>&nbsp;Alarm in bed or chair to alert staff<SPAN class="ft21">&nbsp;</SPAN>if</P></TD>
	<TD class="tr10 td6"><P class="p21 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p14 ft25">&nbsp;</P></TD>
	<TD class="tr11 td3"><P class="p14 ft25">&nbsp;</P></TD>
	<TD class="tr11 td7"><P class="p14 ft26">&nbsp;</P></TD>
	<TD class="tr11 td6"><P class="p21 ft26">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td2"><P class="p14 ft25">&nbsp;</P></TD>
	<TD colspan=2 class="tr11 td8"><P class="p17 ft27">you are getting up without asking for help</P></TD>
	<TD rowspan=2 class="tr12 td6"><P class="p21 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td2"><P class="p14 ft23">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p14 ft23">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p14 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td2"><P class="p14 ft10">▷</P></TD>
	<TD class="tr9 td3"><P class="p14 ft15">A bed that is low to the ground</P></TD>
	<TD class="tr9 td7"><P class="p14 ft21">&nbsp;</P></TD>
	<TD class="tr9 td6"><P class="p22 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td2"><P class="p14 ft23">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p14 ft23">&nbsp;</P></TD>
	<TD class="tr8 td7"><P class="p14 ft24">&nbsp;</P></TD>
	<TD class="tr8 td6"><P class="p22 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td2"><P class="p14 ft17">&nbsp;</P></TD>
	<TD class="tr13 td3"><P class="p14 ft17">&nbsp;</P></TD>
	<TD class="tr13 td7"><P class="p14 ft21">&nbsp;</P></TD>
	<TD class="tr13 td6"><P class="p22 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr14 td5"><P class="p14 ft19">What does staff do if you are on fall precautions?</P></TD>
	<TD class="tr14 td6"><P class="p22 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr15 td2"><P class="p14 ft10">▷</P></TD>
	<TD class="tr6 td3"><P class="p14 ft17">&nbsp;</P></TD>
	<TD class="tr6 td7"><P class="p14 ft21">&nbsp;</P></TD>
	<TD class="tr6 td6"><P class="p21 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr11 td8"><P class="p14 ft27">Alerts other staff members of your risk to fall</P></TD>
	<TD rowspan=2 class="tr16 td6"><P class="p21 ft28">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td2"><P class="p14 ft29">&nbsp;</P></TD>
	<TD class="tr7 td3"><P class="p14 ft29">&nbsp;</P></TD>
	<TD class="tr7 td7"><P class="p14 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td2"><P class="p14 ft10">▷</P></TD>
	<TD class="tr9 td3"><P class="p14 ft15">Assists you with physical therapy</P></TD>
	<TD class="tr9 td7"><P class="p23 ft21">&nbsp;</P></TD>
	<TD class="tr9 td6"><P class="p14 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr17 td2"><P class="p14 ft10">▷</P></TD>
	<TD rowspan=2 class="tr17 td3"><P class="p14 ft15">Assists when you are out of bed</P></TD>
	<TD colspan=2 class="tr6 td4"><P class="p24 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 class="tr6 td4"><P class="p23 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr18 td2"><P class="p14 ft30">&nbsp;</P></TD>
	<TD class="tr18 td3"><P class="p14 ft30">&nbsp;</P></TD>
	<TD colspan=2 class="tr18 td4"><P class="p23 ft31">&nbsp;</P></TD>
</TR>
</TABLE>
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr6 td9"></TD>
	<TD colspan=2 class="tr6 td10"><P class="p14 ft32"><SPAN class="ft10">▷ </SPAN>&nbsp;Makes sure your needs are met and important</P></TD>
</TR>
<TR>
	<TD class="tr19 td9"></TD>
	<TD class="tr19 td11"><P class="p14 ft17">&nbsp;</P></TD>
	<TD class="tr19 td12"><P class="p20 ft33">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td9"></TD>
	<TD colspan=2 class="tr7 td10"><P class="p25 ft34">items are within reach, such as, phone,</P></TD>
</TR>
<TR>
	<TD class="tr6 td9"></TD>
	<TD rowspan=2 class="tr20 td11"><P class="p26 ft15">tv remote, glasses, food tray</P></TD>
	<TD class="tr6 td12"><P class="p27 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td9"></TD>
	<TD rowspan=2 class="tr9 td12"><P class="p27 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr19 td9"></TD>
	<TD class="tr19 td11"><P class="p14 ft17">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p28 ft13"><SPAN class="ft10">▷</SPAN><SPAN class="ft12">Staff may move your room where more people can see and watch out for you</SPAN></P>
<P class="p29 ft35">How can a family member help you while you are in the hospital?</P>
<P class="p30 ft15"><SPAN class="ft10">▷</SPAN><SPAN class="ft16">Visit you and keep you comfortable</SPAN></P>
<P class="p31 ft13"><SPAN class="ft10">▷</SPAN><SPAN class="ft12">Talk to the nurse and ask questions about the care plan</SPAN></P>
<P class="p32 ft7"><SPAN class="ft10">▷</SPAN><SPAN class="ft11">Make the room more comfortable by bringing familiar items from home such as pillows, blankets, and pictures of family and friends</SPAN></P>
<P class="p33 ft7"><SPAN class="ft10">▷</SPAN><SPAN class="ft11">Ask for help when you need to get up or use the bathroom</SPAN></P>
</DIV>
</DIV>

</DIV>
</BODY>
</HTML>
