<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Created by BCL easyConverter SDK 3 (HTML Version)</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 99px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 29px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft1{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft2{font: 23px 'Arial';color: #4b8f42;line-height: 26px;}
.ft3{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft4{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft5{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft6{font: 1px 'Times New Roman';line-height: 1px;}
.ft7{font: 1px 'Times New Roman';line-height: 6px;}
.ft8{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft9{font: 1px 'Times New Roman';line-height: 5px;}
.ft10{font: 1px 'Times New Roman';line-height: 9px;}
.ft11{font: 1px 'Times New Roman';line-height: 12px;}
.ft12{font: italic 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft13{font: 1px 'Times New Roman';line-height: 4px;}
.ft14{font: 13px 'MS PMincho';color: #689a54;line-height: 13px;}
.ft15{font: italic bold 17px 'Times New Roman';color: #689a54;line-height: 16px;}
.ft16{font: 1px 'Times New Roman';line-height: 7px;}
.ft17{font: 1px 'Times New Roman';line-height: 13px;}
.ft18{font: 1px 'Times New Roman';line-height: 14px;}
.ft19{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft20{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft21{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft22{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft23{font: 1px 'Times New Roman';line-height: 8px;}
.ft24{font: bold 11px 'Helvetica';color: #d2232a;line-height: 8px;}
.ft25{font: 40px 'Arial';color: #c8dde9;line-height: 45px;position: relative; bottom: -9px;}
.ft26{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;position: relative; bottom: -15px;}
.ft27{font: bold 17px 'Arial';color: #689a54;line-height: 16px;}
.ft28{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft29{font: bold 11px 'Helvetica';color: #d2232a;line-height: 19px;}
.ft30{font: 8px 'Helvetica';line-height: 10px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: left;margin-top: 30px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:106px;height:42px;}
.p4{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p5{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:33px;height:42px;}
.p6{text-align: left;padding-left: 24px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p7{text-align: center;padding-left: 186px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p8{text-align: center;padding-left: 187px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p9{text-align: left;padding-left: 210px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p10{text-align: center;padding-right: 49px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p11{text-align: center;padding-left: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{text-align: center;padding-left: 11px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 76px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: left;padding-left: 230px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: center;padding-left: 190px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;padding-left: 572px;margin-top: 1px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 560px;padding-right: 48px;margin-top: 0px;margin-bottom: 0px;text-indent: 12px;}
.p18{text-align: left;padding-left: 552px;margin-top: 5px;margin-bottom: 0px;}
.p19{text-align: left;padding-left: 552px;margin-top: 7px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 644px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 64px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 60px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 60px;vertical-align: bottom;background: #ffffff;}
.td4{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 620px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 342px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 302px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 318px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 426px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 124px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}

.tr0{height: 23px;}
.tr1{height: 27px;}
.tr2{height: 21px;}
.tr3{height: 6px;}
.tr4{height: 106px;}
.tr5{height: 20px;}
.tr6{height: 29px;}
.tr7{height: 69px;}
.tr8{height: 51px;}
.tr9{height: 18px;}
.tr10{height: 33px;}
.tr11{height: 15px;}
.tr12{height: 5px;}
.tr13{height: 9px;}
.tr14{height: 25px;}
.tr15{height: 28px;}
.tr16{height: 16px;}
.tr17{height: 12px;}
.tr18{height: 30px;}
.tr19{height: 24px;}
.tr20{height: 19px;}
.tr21{height: 4px;}
.tr22{height: 7px;}
.tr23{height: 13px;}
.tr24{height: 14px;}
.tr25{height: 17px;}
.tr26{height: 26px;}
.tr27{height: 8px;}
.tr28{height: 40px;}
.tr29{height: 10px;}

.t0{width: 768px;margin-top: 7px;font: 13px 'Times New Roman';color: #4d4d4f;}
.t1{width: 799px;font: 8px 'Helvetica';}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_1">



<DIV class="dclr"></DIV>

<DIV id="id_2">
<P class="p0 ft2"><br>Preventing Blood Clots</P>
<P class="p1 ft3">EVERY hospitalized patient is at an increased risk for blood clots</P>
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD colspan=3 class="tr0 td0"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;Blood clots form in the veins (usually in the calf or thigh) because of slow blood flow.</P></TD>
	<TD class="tr0 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 rowspan=2 class="tr1 td0"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;If blood clots form, pieces of clot can break off and move to the lung, causing a potentially life threatening</P></TD>
	<TD class="tr2 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr2 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr3 td1"><P class="p2 ft7">&nbsp;</P></TD>
	<TD rowspan=4 class="tr4 td3"><!--[if lte IE 7]><P style="margin-left:-46px;margin-top:0px;margin-right:-18px;margin-bottom:0px;" class="p3 ft8"><![endif]--><!--[if gte IE 8]><P style="margin-left:18px;margin-top:0px;margin-right:-82px;margin-bottom:64px;" class="p3 ft8"><![endif]--><![if ! IE]><P style="margin-left:-14px;margin-top:32px;margin-right:-50px;margin-bottom:32px;" class="p3 ft8"><![endif]>&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr5 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr5 td5"><P class="p4 ft5">emergency called “pulmonary embolism”. Clots can also move to your brain and cause a stroke.</P></TD>
	<TD class="tr5 td1"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr6 td0"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;DVT (deep vein thrombosis): Blood clot in the veins of the arms and legs.</P></TD>
	<TD class="tr6 td1"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 rowspan=2 class="tr7 td6"><P class="p2 ft3">Please use this checklist to see if you</P></TD>
	<TD rowspan=2 class="tr7 td7"><P class="p2 ft3">Several ways to prevent blood clots</P></TD>
	<TD class="tr8 td1"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr10 td3"><!--[if lte IE 7]><P style="margin-left:27px;margin-top:0px;margin-right:-18px;margin-bottom:0px;" class="p5 ft8"><![endif]--><!--[if gte IE 8]><P style="margin-left:18px;margin-top:0px;margin-right:-9px;margin-bottom:-9px;" class="p5 ft8"><![endif]--><![if ! IE]><P style="margin-left:23px;margin-top:-5px;margin-right:-14px;margin-bottom:-4px;" class="p5 ft8"><![endif]>&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=2 rowspan=3 class="tr6 td6"><P class="p2 ft3">are at increased risk for a blood clot</P></TD>
	<TD rowspan=3 class="tr6 td7"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;Medications: Injections of Heparin 3 times/day</P></TD>
	<TD class="tr11 td1"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td1"><P class="p2 ft9">&nbsp;</P></TD>
	<TD class="tr12 td3"><P class="p2 ft9">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr13 td1"><P class="p2 ft10">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p2 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td4"><P class="p2 ft4">▷</P></TD>
	<TD class="tr14 td8"><P class="p2 ft5">Hospitalization</P></TD>
	<TD class="tr14 td7"><P class="p6 ft5">or Lovenox 1 time/day.</P></TD>
	<TD class="tr14 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr14 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td4"><P class="p2 ft4">▷</P></TD>
	<TD class="tr1 td8"><P class="p2 ft5">Active cancer</P></TD>
	<TD colspan=3 class="tr1 td9"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;ICD’s (Intermittent Compression Devices*), also</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr15 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr15 td8"><P class="p2 ft5">Age &gt;60 years</P></TD>
	<TD class="tr16 td7"><P class="p6 ft5">known as “leg booties”: These are compression</P></TD>
	<TD class="tr16 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr2 td7"><P class="p6 ft5">sleeves that wrap around your legs. Air moves</P></TD>
	<TD class="tr17 td1"><P class="p2 ft11">&nbsp;</P></TD>
	<TD class="tr17 td2"><P class="p2 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr18 td4"><P class="p2 ft4">▷</P></TD>
	<TD class="tr13 td8"><P class="p2 ft10">&nbsp;</P></TD>
	<TD class="tr13 td1"><P class="p2 ft10">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p2 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr2 td8"><P class="p2 ft5">Diabetes</P></TD>
	<TD class="tr2 td7"><P class="p6 ft5">up & down in these sleeves on your legs to get</P></TD>
	<TD class="tr2 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr2 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr19 td4"><P class="p2 ft4">▷</P></TD>
	<TD class="tr19 td8"><P class="p2 ft5">Heart failure</P></TD>
	<TD class="tr19 td7"><P class="p6 ft5">your blood flowing.</P></TD>
	<TD class="tr19 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr19 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr15 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr15 td8"><P class="p2 ft5">Decreased activity</P></TD>
	<TD class="tr20 td7"><P class="p6 ft12">*We recommend wearing these while lying in</P></TD>
	<TD class="tr20 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr20 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr2 td7"><P class="p6 ft12">bed or sitting in a chair to stimulate the blood.</P></TD>
	<TD class="tr13 td1"><P class="p2 ft10">&nbsp;</P></TD>
	<TD class="tr13 td2"><P class="p2 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p2 ft5">Infection, especially Pneumonia or</P></TD>
	<TD class="tr17 td1"><P class="p2 ft11">&nbsp;</P></TD>
	<TD class="tr17 td2"><P class="p2 ft11">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr18 td7"><P class="p2 ft5"><SPAN class="ft4">▷ </SPAN>&nbsp;TEDS (compression stockings).</P></TD>
	<TD class="tr11 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr11 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr11 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD rowspan=2 class="tr20 td8"><P class="p2 ft5">other lung infections</P></TD>
	<TD class="tr11 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr11 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td4"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td7"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td1"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p2 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr18 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr18 td8"><P class="p2 ft5">Inflammatory bowel disease</P></TD>
	<TD class="tr0 td7"><P class="p2 ft15"><SPAN class="ft14">▷ </SPAN>&nbsp;Although staying active is great, please note</P></TD>
	<TD class="tr0 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr0 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr5 td7"><P class="p6 ft15">that walking does not qualify as blood clot</P></TD>
	<TD class="tr22 td1"><P class="p2 ft16">&nbsp;</P></TD>
	<TD class="tr22 td2"><P class="p2 ft16">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr1 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr1 td8"><P class="p2 ft5">Inserted PICC lines</P></TD>
	<TD class="tr23 td1"><P class="p2 ft17">&nbsp;</P></TD>
	<TD class="tr23 td2"><P class="p2 ft17">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr9 td7"><P class="p6 ft15">prevention when you are in the hospital.</P></TD>
	<TD class="tr24 td1"><P class="p2 ft18">&nbsp;</P></TD>
	<TD class="tr24 td2"><P class="p2 ft18">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td4"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td8"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td1"><P class="p2 ft13">&nbsp;</P></TD>
	<TD class="tr21 td2"><P class="p2 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr2 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr2 td8"><P class="p2 ft5">Obesity</P></TD>
	<TD colspan=3 class="tr13 td9"><P class="p7 ft19">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr17 td9"><P class="p8 ft20">&nbsp;</P></TD>
</TR>
<TR>
	<TD rowspan=2 class="tr18 td4"><P class="p2 ft4">▷</P></TD>
	<TD rowspan=2 class="tr18 td8"><P class="p2 ft5">Smoking</P></TD>
	<TD colspan=3 class="tr23 td9"><P class="p7 ft21">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr25 td9"><P class="p7 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr26 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr26 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr26 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr26 td10"><P class="p10 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD class="tr16 td1"><P class="p11 ft22">&nbsp;</P></TD>
	<TD class="tr16 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD class="tr16 td1"><P class="p12 ft22">&nbsp;</P></TD>
	<TD class="tr16 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr16 td10"><P class="p10 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr16 td10"><P class="p10 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr27 td4"><P class="p2 ft23">&nbsp;</P></TD>
	<TD class="tr27 td8"><P class="p2 ft23">&nbsp;</P></TD>
	<TD class="tr27 td7"><P class="p9 ft24">&nbsp;</P></TD>
	<TD colspan=2 class="tr27 td10"><P class="p10 ft24">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD colspan=2 rowspan=2 class="tr28 td5"><P class="p13 ft27"><SPAN class="ft25">{</SPAN>If you have any questions, please feel free to ask your nurse or doctor.<SPAN class="ft25">}</SPAN><SPAN class="ft26">&nbsp;</SPAN></P></TD>
	<TD colspan=2 class="tr0 td10"><P class="p10 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr25 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD colspan=2 class="tr25 td10"><P class="p10 ft22">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p9 ft22">&nbsp;</P></TD>
	<TD colspan=2 class="tr16 td10"><P class="p10 ft28">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td7"><P class="p14 ft22">&nbsp;</P></TD>
	<TD class="tr16 td1"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td2"><P class="p2 ft6">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td4"><P class="p2 ft6">&nbsp;</P></TD>
	<TD class="tr16 td8"><P class="p2 ft6">&nbsp;</P></TD>
	<TD colspan=3 class="tr16 td9"><P class="p15 ft22">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p16 ft22">&nbsp;</P>
<P class="p17 ft29">&nbsp;</P>
<P class="p18 ft22">&nbsp;</P>
<P class="p19 ft22">&nbsp;</P>
</DIV>
</DIV>
</BODY>
</HTML>
