<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<META http-equiv="X-UA-Compatible" content="IE=8">
<TITLE>Penn Medicine</TITLE>
<STYLE type="text/css">

body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_1 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_1 #id_2 {border:none;margin: 0px 0px 0px 85px;padding: 0px;border:none;width: 746px;overflow: hidden;}
#page_1 #id_2 #id_2_1 {float:left;border:none;margin: 100px 0px 0px 0px;padding: 0px;border:none;width: 730px;overflow: hidden;}
#page_1 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_1 #id_3 {border:none;margin: 8px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_3 #id_3_1 {float:left;border:none;margin: 28px 0px 0px 0px;padding: 0px;border:none;width: 471px;overflow: hidden;}
#page_1 #id_3 #id_3_2 {float:left;border:none;margin: 0px 0px 0px 98px;padding: 0px;border:none;width: 215px;overflow: hidden;}
#page_1 #id_4 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 784px;overflow: hidden;}
#page_1 #id_4 #id_4_1 {float:left;border:none;margin: 1px 0px 0px 0px;padding: 0px;border:none;width: 300px;overflow: hidden;}
#page_1 #id_4 #id_4_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 484px;overflow: hidden;}
#page_1 #id_5 {border:none;margin: 58px 0px 0px 72px;padding: 0px;border:none;width: 669px;overflow: hidden;}
#page_1 #id_6 {border:none;margin: 77px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_1 #dimg1 #img1 {width:872px;height:1112px;}




#page_2 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 872px;height: 1112px;}
#page_2 #id_1 {border:none;margin: 58px 0px 0px 400px;padding: 0px;border:none;width: 472px;overflow: hidden;}
#page_2 #id_2 {border:none;margin: 0px 0px 0px 88px;padding: 0px;border:none;width: 743px;overflow: hidden;}
#page_2 #id_2 #id_2_1 {float:left;border:none;margin: 100px 0px 0px 0px;padding: 0px;border:none;width: 727px;overflow: hidden;}
#page_2 #id_2 #id_2_2 {float:left;border:none;margin: 0px 0px 0px 0px;padding: 0px;border:none;width: 16px;overflow: hidden;}
#page_2 #id_3 {border:none;margin: 89px 0px 0px 0px;padding: 0px;border:none;width: 872px;overflow: hidden;}
#page_2 #id_4 {border:none;margin: 18px 0px 0px 41px;padding: 0px;border:none;width: 799px;overflow: hidden;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:872px;height:1112px;}
#page_2 #dimg1 #img1 {width:872px;height:1112px;}




.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}

.ft0{font: bold 28px 'Arial';color: #ffffff;line-height: 33px;}
.ft1{font: 28px 'Arial';color: #ffffff;line-height: 32px;}
.ft2{font: 23px 'Arial';color: #f59745;line-height: 26px;}
.ft3{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft4{font: 13px 'Arial';color: #ffffff;line-height: 16px;}
.ft5{font: 16px 'Arial';color: #4ca7c5;line-height: 18px;}
.ft6{font: bold 11px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft7{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;}
.ft8{font: 12px 'Arial';color: #f6a55f;line-height: 19px;}
.ft9{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 20px;}
.ft10{font: 17px 'MS PMincho';color: #4d4d4f;line-height: 13px;}
.ft11{font: 13px 'Times New Roman';color: #f6a55f;margin-left: 16px;line-height: 21px;}
.ft12{font: italic 13px 'Times New Roman';color: #4d4d4f;line-height: 21px;}
.ft13{font: 13px 'Arial';color: #f6a55f;line-height: 15px;}
.ft14{font: 1px 'Times New Roman';line-height: 1px;}
.ft15{font: bold 11px 'Helvetica';color: #d2232a;line-height: 10px;}
.ft16{font: 13px 'Arial';color: #f6a55f;line-height: 9px;}
.ft17{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 9px;}
.ft18{font: 1px 'Times New Roman';line-height: 9px;}
.ft19{font: bold 11px 'Helvetica';color: #d2232a;line-height: 9px;}
.ft20{font: 17px 'Times New Roman';color: #4d4d4f;line-height: 15px;}
.ft21{font: bold 10px 'Helvetica';color: #d2232a;line-height: 12px;}
.ft22{font: bold 11px 'Helvetica';color: #d2232a;line-height: 7px;}
.ft23{font: 13px 'Arial';color: #f6a55f;line-height: 11px;}
.ft24{font: 13px 'Times New Roman';color: #f6a55f;line-height: 14px;}
.ft25{font: bold 11px 'Helvetica';color: #d2232a;line-height: 14px;position: relative; bottom: 3px;}
.ft26{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 14px;}
.ft27{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 11px;}
.ft28{font: bold 11px 'Helvetica';color: #d2232a;line-height: 11px;}
.ft29{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 10px;}
.ft30{font: 13px 'MS PMincho';color: #4d4d4f;line-height: 7px;}
.ft31{font: 13px 'Times New Roman';color: #4d4d4f;line-height: 7px;}
.ft32{font: 13px 'Times New Roman';color: #f6a55f;line-height: 7px;}
.ft33{font: bold 13px 'Arial';color: #f6a55f;line-height: 16px;}
.ft34{font: bold 12px 'Arial';color: #f6a55f;line-height: 15px;}
.ft35{font: 107px 'Arial';color: #c8dde9;line-height: 43px;}
.ft36{font: 103px 'Arial';color: #c8dde9;line-height: 43px;}
.ft37{font: bold 13px 'Arial';color: #6bb1cc;line-height: 15px;}
.ft38{font: bold 13px 'Arial';color: #6bb1cc;line-height: 16px;}
.ft39{font: 13px 'Arial';color: #6bb1cc;line-height: 16px;}
.ft40{font: 1px 'Times New Roman';line-height: 5px;}
.ft41{font: 12px 'Arial';color: #6bb1cc;line-height: 15px;}
.ft42{font: 8px 'Helvetica';line-height: 10px;}
.ft43{font: 23px 'Arial';color: #4b8f42;line-height: 26px;}
.ft44{font: 15px 'Arial';color: #689a54;line-height: 24px;}
.ft45{font: 15px 'Arial';color: #4ca7c5;line-height: 16px;}
.ft46{font: 17px 'Times New Roman';color: #4d4d4f;margin-left: 16px;line-height: 15px;}
.ft47{font: 1px 'Helvetica';line-height: 9px;}
.ft48{font: 1px 'Helvetica';line-height: 1px;}
.ft49{font: 15px 'Arial';color: #689a54;line-height: 16px;}
.ft50{font: 154px 'Arial';color: #c8dde9;line-height: 111px;}
.ft51{font: 1px 'Helvetica';line-height: 11px;}
.ft52{font: 156px 'Arial';color: #c8dde9;line-height: 31px;}
.ft53{font: bold 7px 'Helvetica';color: #d2232a;line-height: 7px;}
.ft54{font: bold 11px 'Helvetica';color: #d2232a;line-height: 13px;}
.ft55{font: bold 11px 'Helvetica';color: #d2232a;line-height: 19px;}

.p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
.p1{text-align: justify;padding-left: 3px;padding-right: 87px;margin-top: 29px;margin-bottom: 0px;}
.p2{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:200px;height:16px;}
.p3{text-align: left;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p4{text-align: justify;padding-left: 2px;padding-right: 32px;margin-top: 0px;margin-bottom: 0px;text-indent: -2px;}
.p5{text-align: left;padding-left: 20px;margin-top: 6px;margin-bottom: 0px;}
.p6{text-align: left;padding-right: 1px;margin-top: 0px;margin-bottom: 0px;}
.p7{text-align: left;padding-right: 27px;margin-top: 10px;margin-bottom: 0px;}
.p8{text-align: left;padding-left: 24px;margin-top: 8px;margin-bottom: 0px;text-indent: -24px;}
.p9{text-align: justify;padding-left: 24px;padding-right: 15px;margin-top: 7px;margin-bottom: 0px;text-indent: -24px;}
.p10{text-align: left;padding-right: 14px;margin-top: 8px;margin-bottom: 0px;}
.p11{text-align: left;padding-left: 41px;margin-top: 0px;margin-bottom: 0px;}
.p12{text-align: center;padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p13{text-align: left;padding-left: 1px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p14{text-align: center;padding-left: 9px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p15{text-align: left;padding-left: 2px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p16{text-align: left;padding-left: 284px;margin-top: 0px;margin-bottom: 0px;}
.p17{text-align: left;padding-left: 42px;margin-top: 0px;margin-bottom: 0px;}
.p18{text-align: left;padding-left: 67px;padding-right: 67px;margin-top: 0px;margin-bottom: 0px;text-indent: 217px;}
.p19{text-align: left;padding-left: 66px;padding-right: 36px;margin-top: 0px;margin-bottom: 0px;text-indent: 206px;}
.p20{text-align: right;padding-right: 31px;margin-top: 1px;margin-bottom: 0px;}
.p21{text-align: right;padding-right: 31px;margin-top: 0px;margin-bottom: 0px;}
.p22{text-align: left;padding-left: 66px;padding-right: 172px;margin-top: 2px;margin-bottom: 0px;}
.p23{text-align: left;padding-left: 32px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p24{text-align: right;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);direction: rtl;block-progression: bt;height:43px;width:35px;}
.p25{text-align: left;padding-left: 34px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p26{text-align: left;margin-top: 30px;margin-bottom: 0px;}
.p27{text-align: left;padding-right: 154px;margin-top: 15px;margin-bottom: 0px;}
.p28{text-align: justify;margin-top: 10px;margin-bottom: 0px;}
.p29{text-align: left;margin-top: 0px;margin-bottom: 0px;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);direction: ltr;block-progression: rl;width:319px;height:16px;}
.p30{text-align: left;padding-left: 135px;margin-top: 0px;margin-bottom: 0px;}
.p31{text-align: left;padding-left: 135px;margin-top: 4px;margin-bottom: 0px;}
.p32{text-align: right;padding-right: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p33{text-align: left;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p34{text-align: center;padding-left: 4px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{text-align: center;padding-left: 5px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p36{text-align: center;padding-right: 13px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{text-align: center;padding-right: 12px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p38{text-align: left;padding-left: 672px;margin-top: 2px;margin-bottom: 0px;}
.p39{text-align: left;padding-left: 672px;margin-top: 0px;margin-bottom: 0px;}
.p40{text-align: left;padding-left: 660px;padding-right: 36px;margin-top: 1px;margin-bottom: 0px;text-indent: 12px;}
.p41{text-align: right;padding-right: 31px;margin-top: 5px;margin-bottom: 0px;}
.p42{text-align: right;padding-right: 31px;margin-top: 7px;margin-bottom: 0px;}

.td0{padding: 0px;margin: 0px;width: 342px;vertical-align: bottom;}
.td1{padding: 0px;margin: 0px;width: 129px;vertical-align: bottom;}
.td2{padding: 0px;margin: 0px;width: 223px;vertical-align: bottom;}
.td3{padding: 0px;margin: 0px;width: 84px;vertical-align: bottom;}
.td4{padding: 0px;margin: 0px;width: 83px;vertical-align: bottom;}
.td5{padding: 0px;margin: 0px;width: 307px;vertical-align: bottom;}
.td6{padding: 0px;margin: 0px;width: 628px;vertical-align: bottom;}
.td7{padding: 0px;margin: 0px;width: 35px;vertical-align: bottom;}
.td8{padding: 0px;margin: 0px;width: 663px;vertical-align: bottom;}
.td9{padding: 0px;margin: 0px;width: 382px;vertical-align: bottom;}
.td10{padding: 0px;margin: 0px;width: 246px;vertical-align: bottom;}
.td11{padding: 0px;margin: 0px;width: 348px;vertical-align: bottom;}
.td12{padding: 0px;margin: 0px;width: 287px;vertical-align: bottom;}
.td13{padding: 0px;margin: 0px;width: 731px;vertical-align: bottom;}
.td14{padding: 0px;margin: 0px;width: 68px;vertical-align: bottom;}
.td15{padding: 0px;margin: 0px;width: 328px;vertical-align: bottom;}
.td16{padding: 0px;margin: 0px;width: 275px;vertical-align: bottom;}
.td17{padding: 0px;margin: 0px;width: 24px;vertical-align: bottom;}
.td18{padding: 0px;margin: 0px;width: 304px;vertical-align: bottom;}
.td19{padding: 0px;margin: 0px;width: 251px;vertical-align: bottom;}
.td20{padding: 0px;margin: 0px;width: 55px;vertical-align: bottom;}
.td21{padding: 0px;margin: 0px;width: 605px;vertical-align: bottom;}
.td22{padding: 0px;margin: 0px;width: 104px;vertical-align: bottom;}
.td23{padding: 0px;margin: 0px;width: 521px;vertical-align: bottom;}
.td24{padding: 0px;margin: 0px;width: 188px;vertical-align: bottom;}

.tr0{height: 20px;}
.tr1{height: 10px;}
.tr2{height: 9px;}
.tr3{height: 19px;}
.tr4{height: 18px;}
.tr5{height: 21px;}
.tr6{height: 26px;}
.tr7{height: 12px;}
.tr8{height: 14px;}
.tr9{height: 34px;}
.tr10{height: 17px;}
.tr11{height: 43px;}
.tr12{height: 15px;}
.tr13{height: 25px;}
.tr14{height: 5px;}
.tr15{height: 24px;}
.tr16{height: 16px;}
.tr17{height: 29px;}
.tr18{height: 28px;}
.tr19{height: 27px;}
.tr20{height: 111px;}
.tr21{height: 40px;}
.tr22{height: 11px;}
.tr23{height: 31px;}

.t0{width: 471px;font: 16px 'Arial';color: #4ca7c5;}
.t1{width: 390px;margin-left: 41px;font: bold 11px 'Helvetica';color: #d2232a;}
.t2{width: 663px;font: bold 13px 'Arial';color: #6bb1cc;}
.t3{width: 635px;margin-left: 34px;font: 13px 'Arial';color: #6bb1cc;}
.t4{width: 799px;font: 8px 'Helvetica';}
.t5{width: 603px;margin-top: 18px;font: 13px 'MS PMincho';color: #4d4d4f;}
.t6{width: 579px;margin-top: 2px;font: 13px 'MS PMincho';color: #4d4d4f;}
.t7{width: 764px;margin-left: 76px;font: bold 11px 'Helvetica';color: #d2232a;}

</STYLE>
</HEAD>

<BODY>
<DIV id="page_2">
<br>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p0 ft43">Fertility</P>
<P class="p26 ft5">Chemotherapy and radiation may cause infertility</P>
<P class="p27 ft44">A Penn Fertility Care consult is available upon request to men, women, and parents of children desiring information about treatment risks and options for fertility preservation. It is best to talk to your doctor before treatment.</P>
<TABLE cellpadding=0 cellspacing=0 class="t5">
<TR>
	<TD colspan=2 class="tr3 td15"><P class="p3 ft45">Fertility preservation options for females <br>include</P></TD>
	<TD colspan=2 class="tr3 td16"><P class="p3 ft45">Fertility preservation options for males <br>include</P></TD>
</TR>
<TR>
	<TD class="tr17 td17"><P class="p3 ft10">▷</P></TD>
	<TD class="tr17 td18"><P class="p3 ft20">&nbsp;Embryo banking</P></TD>
	<TD class="tr17 td17"><P class="p3 ft10">▷</P></TD>
	<TD class="tr17 td19"><P class="p3 ft20">&nbsp;Sperm banking</P></TD>
</TR>
<TR>
	<TD class="tr18 td17"><P class="p3 ft10">▷</P></TD>
	<TD class="tr18 td18"><P class="p3 ft20">&nbsp;Egg banking</P></TD>
	<TD class="tr18 td17"><P class="p3 ft10">▷</P></TD>
	<TD class="tr18 td19"><P class="p3 ft20">&nbsp;Testicular tissue banking</P></TD>
</TR>
<TR>
	<TD class="tr19 td17"><P class="p3 ft10">▷</P></TD>
	<TD class="tr19 td18"><P class="p3 ft20">&nbsp;Ovarian tissue banking</P></TD>
	<TD colspan=2 class="tr19 td16"><P class="p3 ft20"><SPAN class="ft10">▷ </SPAN>&nbsp;&nbsp;Shielding testicles during radiation</P></TD>
</TR>
</TABLE>
<P class="p28 ft20"><SPAN class="ft10">▷</SPAN><SPAN class="ft46">Ovarian transposition surgery</SPAN></P>
<TABLE cellpadding=0 cellspacing=0 class="t6">
<TR>
	<TD rowspan=2 class="tr18 td17"><P class="p3 ft10">▷</P></TD>
	<TD rowspan=2 class="tr18 td18"><P class="p3 ft20">&nbsp;Ovarian suppression</P></TD>
	<TD class="tr3 td19"><P class="p3 ft45">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Additional services include</P></TD>
</TR>
<TR>
	<TD class="tr2 td19"><P class="p3 ft47">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr0 td17"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr0 td18"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr0 td19"><P class="p3 ft20"><SPAN class="ft10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷ </SPAN>Donor egg/embryo and Surrogacy</P>
	</TD>
</TR>
<TR>
	<TD class="tr0 td17"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr0 td18"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr0 td19"><br><P class="p3 ft20"><SPAN class="ft10">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▷ </SPAN>Fertility counseling for cancer<br>
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;survivors</P>
	</TD>
</TR>

</TABLE>
</DIV>
<DIV id="id_2_2">
<!--[if lte IE 7]><P style="margin-left:-303px;margin-top:0px;margin-right:0px;margin-bottom:0px;" class="p29 ft4"><![endif]--><!--[if gte IE 8]><P style="margin-left:0px;margin-top:0px;margin-right:-303px;margin-bottom:303px;" class="p29 ft4"><![endif]--><![if ! IE]><P style="margin-left:-152px;margin-top:152px;margin-right:-151px;margin-bottom:151px;" class="p29 ft4"><![endif]>Fertility</P>
</DIV>
</DIV>
<DIV id="id_3">
<P class="p30 ft49">To schedule a consultation with Clarisa Gracia, MD, please call: 215.662.6100.</P>
<P class="p31 ft49">Newly diagnosed cancer patients should request an urgent appointment.</P>
<TABLE cellpadding=0 cellspacing=0 class="t7">
<TR>
	<TD rowspan=5 class="tr20 td20"><P class="p32 ft50">{</P></TD>
	<TD colspan=2 class="tr21 td21"><P class="p33 ft49">Survivors and new patients who wish to participate in a clinical study assessing reproductive</P></TD>
	<TD class="tr21 td22"><P class="p3 ft48">&nbsp;</P></TD>
	<TD rowspan=5 class="tr20 td20"><P class="p32 ft50">}</P></TD>
</TR>
<TR>
	<TD class="tr4 td23"><P class="p33 ft49">function at no cost, please contact: 215.615.4205 or PennOncoFertility@uphs.upenn.edu</P></TD>
	<TD colspan=2 class="tr4 td24"><P class="p34 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr22 td23"><P class="p3 ft51">&nbsp;</P></TD>
	<TD colspan=2 class="tr22 td24"><P class="p35 ft28">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr22 td23"><P class="p3 ft51">&nbsp;</P></TD>
	<TD colspan=2 class="tr22 td24"><P class="p34 ft28">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr23 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD colspan=2 class="tr23 td24"><P class="p34 ft53">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr8 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr8 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr8 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p37 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr16 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr16 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr12 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr12 td3"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr12 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr10 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr10 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr10 td22"><P class="p36 ft7">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td20"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr10 td23"><P class="p3 ft48">&nbsp;</P></TD>
	<TD class="tr10 td3"><P class="p3 ft7">&nbsp;</P></TD>
	<TD class="tr10 td22"><P class="p36 ft21">&nbsp;</P></TD>
</TR>
</TABLE>
<P class="p38 ft7">&nbsp;</P>
<P class="p38 ft7">&nbsp;</P>
<P class="p39 ft54">&nbsp;</P>
<P class="p40 ft55">&nbsp;</P>
<P class="p41 ft7">&nbsp;</P>
<P class="p42 ft7">&nbsp;</P>
</DIV>

</DIV>
</BODY>
</HTML>
